In [3]:
import pandas as pd
import numpy as np

1. Remove dulicapte resturant with same address 
2. Remove column type with 'Hawker centre'
3. Remove none resturant type in 'Resturant Name'
4. Remove address with "Singapore"
5. Swap those 'address' with 'Price Range'

In [5]:
target_df = pd.read_csv('../data/cleaned_data_sgr.csv')
target_df.head()

,Restaurant Name,Type,Ratings,Number of Reviews,Price Range,Address,Opening Timing,Open now?,Reviews,Key Word 1,Key Word 2
0,Restaurant Ibid,Asian Fusion,4.9,(788),$100+,18 N Canal Rd,Opens 6:30 pm,Closed,"""The was creative, refine, delicious and well...",food,NaN
1,Cherki,Restaurant,4.5,(638),$20–40,"1 Straits Blvd, #01-02",Opens 12 pm,Closed,"""Wide selection of cocktails, tasty dishes an...",fusion,NaN
2,The Dragon Chamber,Restaurant,4.4,(781),$$,2 Circular Rd,NaN,NaN,"""The flavors are bold and innovative, and the ...",NaN,NaN
3,Xiao Ya Tou,Chinese,4.4,(642),$$$,"6 Duxton Hill, #01-01",11:30 am,Opens soon,"""Nice with a very quirky and retro decor.""",fusion restaurant,NaN
4,URESHII(WAGYU SUKIYAKI & ABALONE),Japanese,4.6,(94),Opens 11:50 am,Singapore,NaN,Closed,"""This is a Korean Japanese with amazing sake ...",fusion restaurant,NaN

In [42]:
# target_df[target_df['Price Range'].str.len() > 5].value_counts()

target_df['Address'].str.contains('$').value_counts

<bound method IndexOpsMixin.value_counts of 0       True
1       True
2       True
3       True
4       True
        ...
4586    True
4587    True
4588    True
4589    True
4590    True
Name: Address, Length: 4591, dtype: object>

In [32]:
target_df.head(2)

,Restaurant Name,Type,Ratings,Number of Reviews,Price Range,Address,Opening Timing,Open now?,Reviews,Key Word 1,Key Word 2
0,Restaurant Ibid,Asian Fusion,4.9,(788),$100+,18 N Canal Rd,Opens 6:30 pm,Closed,"""The was creative, refine, delicious and well...",food,NaN
1,Cherki,Restaurant,4.5,(638),$20–40,"1 Straits Blvd, #01-02",Opens 12 pm,Closed,"""Wide selection of cocktails, tasty dishes an...",fusion,NaN

In [34]:
target_df['Address'].str.contains('$').value_counts().index

# target_df.iloc[0]

Index([True], dtype='object')