In [3]:
import pandas as pd
import numpy as np

import os
import sys
sys.path.append(os.path.dirname(os.path.abspath(os.path.abspath(''))))
from yumspeak_ml.params import *

In [11]:
data = pd.read_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/restaurant_df.csv').drop(columns='Unnamed: 0')
data

,Restaurant Name,Address
0,(Fu Chan) Harummanis Muslim Food,145 Teck Whye Ln
1,01-22 Wufu Hakka Noodle,Singapore
2,116 PH·ªê ƒê√äM,116 Mackenzie Rd
3,123 Z√î - ·∫®m Th·ª±c Vi·ªát,"12 Gopeng St, #01-45, 49-51 icon village, Sing..."
4,123 Z√¥ The Vi·ªát Kitchen,"18 Raffles Quay, 01-48 Lau Pa Sat"
...,...,...
3190,È∫ªËæ£ËØ±ÊÉë Spice Spirits Singapore,14 Foch Rd
3191,ÈºéÈºéÁ¥ÖÈ∫ªËæ£È¶ôÈçã Ding Ding Hong Mala HotPot,"1 Kadayanallur St, 01-41"
3192,ÏïàÎÖïÌïòÏÑ∏Ïöî Hello Korean BBQ,45 / 46 Circular Rd
3193,ÏòàÏïΩ YeYak Korean Restaurant,Singapore
3194,ùóîùó™ùóîùóóùóõ | Royal Indian Dining & Lounge,"01-33H, The Centrepoint, 176 Orchard Rd"

In [9]:
#get lat lng using mapbox
import geocoder

def get_latlng(address):
    g = geocoder.mapbox(f"{address},SG", key=MAP_API)
    latlng = (g.json['lat'], g.json['lng'])

    return np.array(latlng)

In [10]:
# get coordinates for address
def coordinates(address):
    if address == 'Singapore':
        return np.array((1.288799, 103.840943))
    else:
        return get_latlng(address)

In [12]:
df = data.copy()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurant Name  3195 non-null   object
 1   Address          3195 non-null   object
dtypes: object(2)
memory usage: 50.0+ KB

In [19]:
def lat_lng(df):
    df['Address'] = df['Address'].replace({'#*': ''}, regex=True)
    df['coordinates'] = df['Address'].apply(coordinates)
    df['lat'] = df['coordinates'].apply(lambda x: x[0])
    df['lng'] = df['coordinates'].apply(lambda x: x[1])
    df = df.drop(columns='coordinates')
    return df

In [20]:
df = lat_lng(df)
df

,Restaurant Name,Address,lat,lng
0,(Fu Chan) Harummanis Muslim Food,145 Teck Whye Ln,1.381223,103.752383
1,01-22 Wufu Hakka Noodle,Singapore,1.288799,103.840943
2,116 PH·ªê ƒê√äM,116 Mackenzie Rd,1.306633,103.847250
3,123 Z√î - ·∫®m Th·ª±c Vi·ªát,"12 Gopeng St, 01-45, 49-51 icon village, Singa...",1.275493,103.844649
4,123 Z√¥ The Vi·ªát Kitchen,"18 Raffles Quay, 01-48 Lau Pa Sat",41.091140,-78.290746
...,...,...,...,...
3190,È∫ªËæ£ËØ±ÊÉë Spice Spirits Singapore,14 Foch Rd,1.311998,103.859903
3191,ÈºéÈºéÁ¥ÖÈ∫ªËæ£È¶ôÈçã Ding Ding Hong Mala HotPot,"1 Kadayanallur St, 01-41",1.280374,103.844659
3192,ÏïàÎÖïÌïòÏÑ∏Ïöî Hello Korean BBQ,45 / 46 Circular Rd,1.286116,103.849490
3193,ÏòàÏïΩ YeYak Korean Restaurant,Singapore,1.288799,103.840943
3194,ùóîùó™ùóîùóóùóõ | Royal Indian Dining & Lounge,"01-33H, The Centrepoint, 176 Orchard Rd",1.351616,103.808053

In [ ]:
df.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/master_restaurant_df.csv') #index=False

In [ ]:
df_0_300 = df_all.iloc[0:300].copy()
df_0_300.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_0_300.csv')

In [ ]:
df_300_600 = df_all.iloc[300:600].copy()
df_300_600.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_300_600.csv')

In [ ]:
df_600_900 = df_all.iloc[600:900].copy()
df_600_900.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_600_900.csv')

In [ ]:
df_900_1200 = df_all.iloc[900:1200].copy()
df_900_1200.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_900_1200.csv')

In [ ]:
df_1200_1500 = df_all.iloc[1200:1500].copy()
df_1200_1500.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_1200_1500.csv')

In [ ]:
df_1500_1800 = df_all.iloc[1500:1800].copy()
df_1500_1800.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_1500_1800.csv')

In [ ]:
df_1800_2100 = df_all.iloc[1800:2100].copy()
df_1800_2100.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_1800_2100.csv')

In [ ]:
df_2100_2400 = df_all.iloc[2100:2400].copy()
df_2100_2400.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_2100_2400.csv')

In [ ]:
df_2400_2700 = df_all.iloc[2400:2700].copy()
df_2400_2700.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_2400_2700.csv')

In [ ]:
df_2700_3000 = df_all.iloc[2700:3000].copy()
df_2700_3000.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_2700_3000.csv')

In [ ]:
df_3000_3194 = df_all.iloc[3000:].copy()
df_3000_3194.to_csv('/Users/triciascy/code/toothyachy/yumspeak/name_data/df_3000_3194.csv')