In [1]:
import pandas as pd
import numpy as np
import ast

In [ ]:
# main_category to remove from restaurant_name.csv
CATS_TO_REMOVE = ['Manufacturer', 'Maternity store', 'Mining company', 'Barber shop', 'Preschool', 'Bazar',
"Women's clothing store", 'Dessert shop', 'Art gallery', 'Branding agency', 'Medical equipment supplier',
'Waxing hair removal service', 'Day care center', 'Computer support and services', 'E-commerce service',
'Grocery store', 'Lawyer', 'Educational institution', 'Importer', 'Coffee shop', 'Public parking space',
'Food and drink', 'Medical Center', 'Day spa', 'Kitchen supply store', 'Karaoke bar', 'Delivery Chinese',
'Chinese language school', 'Credit counseling service', 'Artist', 'Goldsmith', 'MRT/LRT Station',
'Youth Centre', 'Education center', 'Walk-in clinic', 'Caterer', 'Tourist attraction', 'Design agency',
'Playground', 'Hiking area', 'Personal trainer', 'Muay Thai boxing gym', 'Non-profit organization',
'Optician', 'Transport interchange', 'Wellness center', 'Indoor playground', 'Japanese sweets restaurant',
'Plastic products supplier', 'Fish store', 'Dog cafe', 'Candle store', 'Shopping mall',
'Health and beauty shop', 'Clothing store', 'Association / Organization', 'Medical clinic',
'Food manufacturer', 'Pest control service', 'Souvenir store', 'Delivery Restaurant',
'Tattoo and piercing shop', 'Law firm', 'Contractor', 'Gold dealer', 'Cement manufacturer', 'Lounge',
'Oral surgeon', 'Property management company', 'Construction company', 'Website designer', 'Tattoo shop',
'Furniture store', 'Shop', 'Software company', 'Chinese bakery', 'Tea and coffee shop',
'Food manufacturing supply', 'Photographer', 'Print shop', 'Chinese Takeaway', 'Coffee roasters',
'Finance broker', 'Commercial cleaning service', 'Employment agency', 'Sports bar', 'Accountant',
'Organic food store', 'Industrial Real Estate Agency', 'Book store', 'Commercial real estate inspector',
'Self service restaurant', 'HDB Flats', 'Internet marketing service', 'Farm shop', 'Event planner', 'ATM',
'Government office', 'Açaí shop', 'Memorial park', 'Educational testing service', 'Photography',
'Computer security service', 'Food court', 'Financial institution', 'Homewares Store',
'Wedding photographer', 'Real estate consultant', 'Importer and Exporter', 'Art center', 'Media company',
'Pub', 'Hostel', 'Charity', 'Event venue', 'Computer store', 'Dance store', 'Fruit wholesaler',
'Chocolate cafe', 'Serviced accommodation', 'Social club', 'Designer Clothing Shop', 'Pet Shop',
'Police station', 'Hardware store', 'Pizza takeaway', 'Real estate developer', 'Counselor',
'Japanese confectionery shop', 'Curtain and upholstery cleaning service', 'Wine cellar', 'Tailor',
'Department store', 'Engineer', 'Bus Interchange', 'Interior designer', 'Housing development',
'Otolaryngologist', 'Shipping and mailing service', 'Food producer', 'General practitioner', 'Cake shop',
'Baby store', 'Financial planner', 'Gourmet grocery store', 'Performing arts theater', 'Massage spa',
'Occupational therapist', 'School', 'Bus depot', 'Language school', 'Mattress store', 'Shipping service',
'Live music venue', 'Jewelry store', 'Art studio', 'Catholic church', 'Sushi takeaway', 'Diving center',
'Sandwich shop', 'Indian grocery store', 'Chocolate shop', 'Wholesaler', 'Consultant',
'Local government office', 'Bus stop', 'Club', 'Tiffin center', 'Car detailing service',
'Indoor golf course', 'Ballet school', 'Jeweler', 'Artistic handicrafts', 'Art museum',
'Movie rental store', 'Condominium complex', 'Chinese tea house', 'Dental clinic', 'Wholesale food store',
'Chocolate artisan', 'Used clothing store', 'Corporate gift supplier', 'Seafood wholesaler',
'Legal services', 'Butcher shop', 'Employment center', 'Coffee store', 'Frozen food store',
'Hawker center', 'Business management consultant', 'After school program', 'Steamed bun shop', 'Deli',
'Ice cream shop', 'Plant nursery', 'Advertising agency', 'Bed & breakfast', 'Soup kitchen',
'Wedding venue', 'Health spa', 'Holding company', 'Catering food and drink supplier',
'Music management and promotion', 'Apartment building', 'Fruit and vegetable wholesaler',
'Real estate agent', 'Business to business service', 'Boutique', 'Wedding planner',
'Alcoholic beverage wholesaler', 'Cosmetics and perfumes supplier', 'Luggage store', 'Dance school',
'Lodging', 'Kitchen', 'Martial arts club', 'Florist', 'Lottery retailer', 'Toy store', 'Flower delivery',
'Music producer', 'Trading company', 'Beauty product supplier', 'Insurance company', 'Cinema',
'Optometrist', 'Heritage building', 'Bank', 'Tutoring service', 'Parking lot', 'Hairdresser',
'Makerspace', 'Publisher', 'Tea house', 'Butcher shop deli', 'Employment consultant', 'Stationery store',
'Coworking space', 'Marketing consultant', 'Performing arts group', 'Convenience store',
'Community garden', 'Business center', 'House cleaning service', 'Scenic spot', 'Health food store',
'Takeaways', 'Garden', 'Learning center', 'Monument maker', 'Wellness program', 'Bubble tea store',
'Bakery', 'Recording studio', 'Motorcycle rental agency', 'Garden center', 'Electronics manufacturer',
'Religious organization', 'Real estate agency', 'Cultural association', 'Shoe Shop',
'Family service center', 'Moving and storage service', 'Camping Ground', 'Chartered accountant',
'Financial consultant', 'Fashion accessories store', 'Confectionery store', 'Supermarket', 'Industry',
'Non-governmental organization', 'Rice restaurant', 'Religious destination', 'Haute French restaurant',
'Food products supplier', 'Memorial estate', 'Car dealer', 'Taoist temple', 'Japanese grocery store',
'National forest', 'Bridal shop', 'Event management company', 'Unknown', 'Pastry shop', 'Antique store',
'Nail salon', 'Museum', 'Light rail station', 'Beauty salon', 'Coaching center', 'Fast food restaurant',
'Video production service', 'Apartment complex', 'Tea store', 'Warehouse', 'Freight forwarding service',
'Photography service', 'Gym and Fitness Centre', 'Ice supplier', 'Coffee stand', 'Corporate office',
'Hawker Stall', 'Air conditioning store', 'Italian grocery store', 'Recruiter', 'Transportation service',
'Camera store', 'Laboratory equipment supplier', 'Travel agency', 'Music school', 'Auditor',
'Anglican church', 'Athletic field', 'Pharmacy', 'Shoe repair shop', 'Kiosk', 'Yoga studio',
'Restaurant supply store', 'Hair salon', 'Marketing agency', 'Swimming school', 'Wedding store',
'Hematologist', 'Gemologist', 'Property Investment', 'Coffee wholesaler', 'Wholesale bakery',
"Children's clothing store", 'Patisserie', 'Hotel', 'Lighting store', 'Gift shop', 'Bicycle club',
'Industrial equipment supplier', 'Information services', 'Salad shop', 'Car wash', 'Market',
'Electroplating Service', 'Sundae restaurant', 'Insurance', 'Acupuncture clinic', 'Park'
]

PLACE_ID_TO_DROP = [
    'ChIJh5Y59BQT2jERURiZLDQx4nw',
    'ChIJZ1fwClsb2jERObWFCMIH9vs',
    'ChIJPQnKqsAZ2jERwwkvvSyGZFg',
    'ChIJq6p6aIEa2jERLuWrj4ANh8E',
    'ChIJN33CKWIQ2jERMg_rME_Bay0',
    'ChIJd4WNfZ4Z2jERg12q-wfG2as',
    'ChIJ71CS0r0Z2jER8-smeu34jjY',
    'ChIJL4PDN6kZ2jERThaNWhOn098',
    'ChIJXd0PKYEX2jERYrueyc06grw',
    'ChIJ6Ykv9HEQ2jERsEXyHWa-R9Q',
    'ChIJVVUVem4Q2jERWIpWwfLUvOM',
    'ChIJ_aBCmBQZ2jERq5LkmNBX4ow',
    'ChIJAWnNhWgX2jERdqeKX3ll9_A',
    'ChIJ56hvaFoQ2jER6UYrXGNDQGc',
    'ChIJYzNuVSQX2jERq0kUBaonauY',
    'ChIJ-5iwVQsZ2jERDYQr5iyYDbI',
    'ChIJR-uLmRIZ2jERB3x-oYjX6-8',
    'ChIJu63tBLEZ2jER4BWy9m52vtI',
    'ChIJl0y967gZ2jER61Sh6YJd_Yg',
    'ChIJE3D9Nysa2jERVnXUtHpekrE',
    'ChIJzSendw0Z2jERTiGG5HBCUdI',
    'ChIJZVV0h2wZ2jER62ZOIpoV2P8',
    'ChIJ__8PEIka2jERVGgDfS-2K10',
    'ChIJS_BEA7oZ2jER2GK5z-e8qoQ',
    'ChIJAQAASX0Z2jERVYuMyQfqAQA',
    'ChIJx9FYtnUZ2jER922k1B_LAzk',
    'ChIJKf5YyxIZ2jERILku5keIlJg',
    'ChIJUcN6xW0Y2jERC2-GL6l2z7E',
    'ChIJaW3kmZYV2jER-uORG7aXKyU',
    'ChIJsQVGb_oX2jERvDAu0xkL6zA',
    'ChIJrTFZ9rcZ2jER2xBp6b8aOHA',
    'ChIJ7-afsQwZ2jER2f0eExqzue0',
    'ChIJezI5f7gX2jERa0J7b7iGbuk',
    'ChIJnxVgCG0Z2jER3-HA5RXp6Qw',
    'ChIJV_7XqfYX2jERCCwSnrmQ3Nc',
    'ChIJq6q278sb2jERWGHFlfEVmfY',
    'ChIJ8RANNaEZ2jERgf3U0gAdTgE',
    'ChIJZWEkZgsZ2jER0WnuE6HDzoE',
    'ChIJEUEayA4Z2jERNH_S8TPONm4',
    'ChIJ3eVZlQ4Z2jERX34jdgqlI28',
    'ChIJ-TsVF6kb2jER1_NGlLmqZmk',
    'ChIJvSxGnpcZ2jERJCmBscFz3Dw',
    'ChIJ3Tcl0IwZ2jER7_dBq_HSCbA',
    'ChIJKdihA68Z2jER07IZ_I3hEVI',
    'ChIJicht9G0Y2jER1DYdsrIIJw8',
    'ChIJ__8_wYwZ2jERtCSn02_fhzY',
    'ChIJo5fvvQwZ2jERz_JUcD4fzkg',
    'ChIJ__-vj-8Z2jERhye3e6pRpaM',
    'ChIJfaAGgMgZ2jERwVcV4SINwwg',
    'ChIJYd_hd0kZ2jERN9FWlI4xJto',
    'ChIJ9eNkeP4b2jERmH8pwHymE6M',
    'ChIJk0XVZ9YZ2jERuGEbtTayWNA',
    'ChIJ5z4oO2MZ2jERB3lOJkfCyhw',
    'ChIJa58Ty48T2jER7w4mWnrfWEM'
]

NAMES_TO_DROP = ['Leila katheera', 'Dempsey Hill', 'Encik Tan', 'Tian Huat Rice Stall',
'Mr Teh Tarik Eating House', 'Shake Shack (Suntec)', 'Shake Shack 89 Neil Road', 'Shake Shack Great World'
]

RESTAURANT_RECATEGORIZATION = {
    'Waroeng Anak Indo': 'Indonesian',
    'Samrang SG': 'Korean',
    'Restaurant Poise': 'French',
    'Revolver': 'Indian',
    'Rod Dee Thai Cafe': 'Thai',
    'Dickson Nasi Lemak': 'Malaysian',
    'SKAI Restaurant': 'Western',
    'SUSHISAMBA Singapore': 'Fusion',
    'Saap Saap Thai': 'Thai',
    'Salt & Pepper Pte Ltd': 'Western',
    'San Laksa Steamboat Pte Ltd': 'Local',
    'San Shu Gong Private Dining 三叔公私房菜': 'Chinese',
    'Sanook Kitchen - West Gate': 'Thai',
    'Sanook Kitchen - City Square': 'Thai',
    'Sakari Sushi': 'Japanese',
    'Warung Selera Masakan Kampung': 'Malaysian',
    'Selera Utama Kampung Plentong Baru (Sup Power)': 'Malaysian',
    'Selera Kampung': 'Malaysian',
    'Restoran Selera Sambal': 'Malaysian',
    'Medan Selera Kampung Tengah Gedok': 'Malaysian',
    'Restoran Selera Kampung': 'Malaysian',
    'Restoran Selera Kampung (FAM MAJU)': 'Malaysian',
    'SHUNFENG 顺风川渝私房菜': 'Chinese',
    '蜀都丰 SO DO FUN @ MIDTOWN HOUSE': 'Chinese',
    'Hibiscus Tree (芙蓉树下) Millenia Walk': 'Chinese',
    '天府李川菜 DAINTY SICHUAN': 'Chinese',
    '辣不辣 Labula BBQ Sichuan Restaurant @ Hougang Village': 'Chinese',
    'Fukurou Kitchen': 'Japanese',
    'Sin Manbok Korean Restaurant 신만복': 'Korean',
    'Sinpopo Brand Restaurant @ TANGS': 'Local',
    'Siri House Dempsey': 'Asian',
    'Sky View Pavilion': 'Chinese',
    'Soi 19 Thai Wanton Mee Telok Ayer': 'Thai',
    'Soon Huat (JB) Bak Kut Teh': 'Local',
    'Steamboat Charcoal Claypot Prawn @Toa Payoh': 'Local',
    'Crab Wang Imperial Dining': 'Chinese',
    'Sum Dim Sum (Bedok)': 'Chinese',
    'Sum Dim Sum (Punggol)': 'Chinese',
    'Summer Hill': 'Western',
    'Tamba': 'Indian',
    'Riverwalk Tandoor': 'Indian',
    'Ashoka Tandoor Family Restaurant': 'Indian',
    'Tandoor Lounge | Indian Restaurant Punggol': 'Indian',
    'Tangled': 'Italian',
    'Tapas,24 Singapore': 'Spanish',
    'Sap Ubon Thai Cuisine (Homebased)': 'Thai',
    'Thaitanium': 'Thai',
    'The Banana Leaf Apolo': 'Indian',
    'The Curry Wok (TCW)': 'Indian',
    'The French Ladle': 'French',
    'The Guild': 'Western',
    'The Kongsee': 'Fusion',
    'The NCO Club': 'Fusion',
    'The Palace Korean Restaurant': 'Korean',
    'Simply Peranakan Cuisine': 'Peranakan',
    'The Tavern Restaurant': 'Western',
    'Thevar': 'Indian',
    'Three Blind Pigs': 'Western',
    'Tian Yu Tian 天与天 Fish Head Steamboat': 'Chinese',
    'Tian Tian You Yu 天天友魚': 'Chinese',
    'Tian Wai Tian Fish Head Steamboat(天外天鱼头炉）Veerasamy Road': 'Chinese',
    'Tiffin Room': 'Indian',
    "Tilly's by Butcher Boy": 'Western',
    'Tok Panjang@Bt. Timah': 'Peranakan',
    'Toma By The River': 'Western',
    'Town Restaurant': 'Western',
    'Istanbul Corner SG': 'Turkish',
    'Eden Restaurant': 'Asian',
    'The Mask Restaurant and Bar': 'Indian',
    'UNCLE & AUNTY FAMILY RESTAURANT': 'Family',
    'Unatoto Guoco Tower': 'Japanese',
    'VENUE By Sebastian': 'European',
    'The Social Kitchen': 'Family',
    "Oscar's": 'Western',
    'The Orchard Cafe': 'Western',
    'Sampoorna Swadesi Vegetarian Restaurant': 'Indian',
    'WINESTONE': 'Western',
    'WAKUDA': 'Japanese',
    'White Rose Cafe': 'Western',
    'Willow': 'Fusion',
    'Yang Guo Fu Mala Tang 杨国福麻辣烫 @ Northpoint City': 'Chinese',
    'YinJi Singapore': 'Chinese',
    'YUAN 原': 'Chinese',
    'Ru Yi Yuan Vegetarian': 'Vegetarian',
    'Ting Yuan Hotpot Buffet': 'Chinese',
    'Yue Bai': 'Chinese',
    'Ya Ge - 雅阁 (Orchid Hotel SG)': 'Chinese',
    'Yì By Jereme Leung': 'Chinese',
    'Zén': 'European',
    'nakey': 'Western',
    'Sibarita bar & resto': 'Spanish',
    'Sibarita Restaurante': 'Spanish',
    'Sibarita': 'Spanish',
    'Sibarita Habana': 'Spanish',
    'tiram': 'Seafood',
    'The Fullerton Pavillion': 'Fusion',
    'True Cost': 'Mediterranean',
    '极鲜 Ji Xian Seafood & Hong Kong Dim Sum Express': 'Chinese',
    '老四川豆花庄': 'Chinese',
    '麻辣诱惑 Spice Spirits Singapore': 'Chinese',
    'Huda Restaurant SG 胡大饭店': 'Chinese',
    'Huevos @ River Valley': 'Mexican',
    'Humpback': 'Western',
    'ITOKO JAPANESE RESTAURANT': 'Japanese',
    'IVINS @ Thomson Plaza': 'Peranakan',
    'Adipoli Curry Pot': 'Indian',
    'Indian Tandoor Restaurant': 'Indian',
    'Indo Rasa Singapore': 'Indonesian',
    'IndoChili': 'Indonesian',
    'Ingleside': 'Western',
    'Inle Myanmar Restaurant': 'Burmese',
    'JAAN By Kirk Westaway': 'Thai',
    'Jiaxing Supreme Food House': 'Chinese',
    'Jinjo': 'Japanese',
    'La Brasserie': 'Western',
    'Leno Cakes & Deli': 'Western',
    'Lepak at Sultan': 'Asian',
    'Lolla': 'Mediterranean',
    'Lynnette\'s Kitchen (Private Dining)': 'Southeast Asian',
    'Marguerite': 'Western',
    'Meta Restaurant': 'Fusion',
    'Naga House': 'Fusion',
    'Olivia Restaurant & Lounge': 'Mediterranean',
    'Indobowl, Singapore @ Sultan Gate': 'Indonesian restaurant',
    "D'Penyetz Jem": 'Indonesian restaurant',
    'Isshin Machi Greenwood': 'Japanese restaurant',
    'Jang San Korean Restaurant 장산왕족발': 'Korean restaurant',
    'Jia Xiang Sarawak Kuching Kolo Mee': 'Malaysian restaurant',
    'Jia Xiang Sarawak Kuching Kolo Mee - Marina Square': 'Malaysian restaurant',
    'Jia Xiang Sarawak Kuching Kolo Mee - Alexandra': 'Malaysian restaurant',
    'Jiak Modern Tzechar @ Hillv2': 'Chinese restaurant',
    'Joséphine - French Cuisine & Wine Bar': 'French restaurant',
    'Kap Kun Kap Thai & Seafood': 'Thai restaurant',
    'Kazan Japanese Cuisine': 'Japanese restaurant',
    'Kim Poh FishHead Steamboat': 'Chinese restaurant',
    'fennel by komala vilas': 'Indian restaurant',
    'Korat Thai Cafe': 'Thai restaurant',
    "LET'S KINN THAI": 'Thai restaurant',
    "la table d'Emma": 'French restaurant',
    'Lao You Ji Fishhead Steamboat Seafood Restaurant': 'Chinese restaurant',
    'Lazy Lizard - Flora Vista': 'Western restaurant',
    'Le Petit Chef - Espoir Singapore': 'French restaurant',
    'Lẩu Dê 3 Cô': 'Vietnamese restaurant',
    '这边来 Zhe bian lai': 'Chinese restaurant',
    'RED DOT MALA HOTPOT 小红点麻辣香锅': 'Chinese restaurant',
    'Ri Ri Sheng Mala Hotpot': 'Chinese restaurant',
    'Xing Le Mala Hotpot': 'Chinese restaurant',
    'Madame Fan': 'Chinese restaurant',
    'Makan Japanese restaurant': 'Japanese restaurant',
    'MCC MAKAN PLACE': 'Halal restaurant',
    'Makan@Jen': 'Halal restaurant',
    'Miyu': 'Japanese restaurant',
    'TAP @ 9 Penang': 'Western restaurant',
    'Wild Coco (Hamilton Road)': 'Fusion restaurant',
    'Seroja': 'Fusion restaurant',
    'Mamacitas': 'Mexican restaurant',
    'Man Man Japanese Unagi (Clarke Quay)': 'Japanese restaurant',
    'Man Man Japanese Unagi (Duo Galleria)': 'Japanese restaurant',
    'True Veggie': 'Vegetarian restaurant',
    'NAEUM Restaurant': 'Korean restaurant',
    'Nan Hua Chang (Traditional) Fish Head Steamboat': 'Chinese restaurant',
    'Nicolas Le Restaurant': 'French restaurant',
    'Nyonyas & Gentlemen Restaurant': 'Peranakan restaurant',
    'Ocean Curry Fish Head': 'Chinese restaurant',
    'ODETTE': 'French restaurant',
    'Restaurant Odette': 'French restaurant',
    'Odette': 'French restaurant',
    'Buffet Odette': 'French restaurant',
    "Old Bibik's Peranakan Kitchen": 'Peranakan restaurant',
    'Paofan Paradise 泡饭天 - T.K Kitchen Restaurant': 'Chinese restaurant',
    'Papa Ayam 313@somerset': 'Indonesian restaurant',
    'Parkway Mini Steamboat': 'Chinese restaurant',
    'Park Bäckerei': 'German restaurant',
    "Lim's Penang Prawn Noodle and Fried Kway Teow": 'Malaysian restaurant',
    'Milligram': 'Café',
    'Podi & Poriyal': 'Vegetarian restaurant',
    'Putra Minang Restaurant Bencoolen': 'Indonesian restaurant',
    'Ăn Là Ghiền -Buffet 5': 'Vietnamese restaurant',
    'Qi - House of Sichuan': 'Chinese restaurant',
    'Qi Xiang Hotpot': 'Chinese restaurant',
    'Rainbow Rice House': 'Chinese restaurant',
    '123 ZÔ - Ẩm Thực Việt': 'Vietnamese restaurant',
    '27 Mezze Bar and Grill': 'Mediterranean restaurant',
    '57° Mala Xiang Guo @Ang Mo Kio': 'Chinese restaurant',
    '57° Mala Xiang Guo @Shaw Plaza': 'Chinese restaurant',
    '87 Club Street': 'Western restaurant',
    '88 Hong Kong Roast Meat Specialist': 'Chinese restaurant',
    'ASIAN MARKET CAFE': 'Asian restaurant',
    'Absurdities Singapore': 'Fusion restaurant',
    'Abundance: Taiwanese Restaurant & Craft Beer Bar (Redhill)': 'Taiwanese restaurant',
    "Ajumma's Northpoint": 'Korean restaurant',
    "Ajumma's Westgate": 'Korean restaurant',
    'Alegria Singapore': 'Latin American restaurant',
    'Alice Boulangerie & Restaurant': 'French restaurant',
    'Restoran Al Alif, Bandar Seri Alam': 'Indian restaurant',
    'Anglo Indian Cafe & Bar': 'Indian restaurant',
    'Apéro': 'French restaurant',
    'Arab Street Turkish & Western Restaurant': 'Turkish restaurant',
    'Hup Lee Cafeteria (Arcade Fish Soup)': 'Chinese restaurant',
    'Ayam Penyet President Express - Midtown Hougang': 'Indonesian restaurant',
    'BACARO Italian Restaurant and Wine Bar': 'Italian restaurant',
    'Bacos': 'Western restaurant',
    'Badaro Korean Seafood': 'Korean restaurant',
    'Bangkok Thai Muslim': 'Thai restaurant',
    'Bearded Bella': 'Café',
    'Beast Duxton': 'American restaurant',
    'Bee Keong Restaurant': 'Chinese restaurant',
    'Bella pizzeria': 'Italian restaurant',
    'Berlin65': 'German restaurant',
    'Bugis BBQ and Hotpot': 'Chinese restaurant',
    'Bugis Fish Head Steamboat': 'Chinese restaurant',
    'Buko Nero': 'Italian restaurant',
    'Thien Long Vietnamese Food': 'Vietnamese restaurant',
    'Star Pho Le Beef Noodle Soup ( Subsidiary of Banh Mi Thit by Star Baguette )': 'Vietnamese restaurant',
    "Làng Nướng 1980's - Authentic Vietnamese home-cooked Cuisine": 'Vietnamese restaurant',
    'Ăn Là Ghiền-Cơm Niêu': 'Vietnamese restaurant',
    'COL': 'Fusion restaurant',
    'COLLECTIVE': 'Fusion restaurant',
    'Well Collective': 'Fusion restaurant',
    'Cafe de Muse - The Restaurant': 'Café',
    'Caffe Fernet': 'Italian restaurant',
    'Cendra Tapas Bar and Grill': 'Spanish restaurant',
    "Charlie's Restaurant & Bar (Boat Quay)": 'Western restaurant',
    "Chef's Table by Chef Stephan (Western Omakase, Fine Dining)": 'Western restaurant',
    "Chen's": 'Chinese restaurant',
    'Chengdu Bowl Tanjong Pagar 成都Bowl': 'Chinese restaurant',
    'Cherry & Oak': 'Fusion restaurant',
    'Wannian Stonepot Fish': 'Chinese restaurant',
    'Yuet Sing Seafood': 'Chinese restaurant',
    'Yi Zun Noodle @ Marina Square': 'Chinese restaurant',
    'Alijiang': 'Chinese restaurant',
    'Penang Culture': 'Malaysian restaurant',
    'Western Mahua': 'Western restaurant',
    'GLC Hao Yun Lai Restaurant (好运来餐厅）': 'Chinese restaurant',
    'Al Madinah Restaurant': 'Halal restaurant',
    'Overrice (Voted Best Halal Restaurant near Haji Lane)': 'Halal restaurant',
    'Selera Serambi by Tang Tea House': 'Halal restaurant',
    'Bumbu Restaurant': 'Indonesian restaurant',
    'Chuan Kee Seafood': 'Chinese restaurant',
    'Chuan Kee Seafood Toa Payoh': 'Chinese restaurant',
    'Colonial Club Signatures': 'Western restaurant',
    'Comida Mexicana Singapore': 'Mexican restaurant',
    'Crafted by Peter Zwiener': 'Western restaurant',
    'DaXi 大喜 - VivoCity': 'Chinese restaurant',
    'Dapur Penyet @ City Plaza': 'Indonesian restaurant',
    'JB Garden Seafood Restaurant': 'Chinese restaurant',
    'Din Tai Fung': 'Chinese restaurant',
    'Dum Pukht Grill & Curry': 'Indian restaurant',
    'Dungeon by IL Fiore': 'Italian restaurant',
    'Ristorante Vista Duomo': 'Italian restaurant',
    'El Mesa Filipino Seafood & Grill Clarke Quay': 'Filipino restaurant',
    'Element Restaurant Amara Singapore': 'International restaurant',
    'Ellenborough Market Café': 'Peranakan restaurant',
    'Empire Hotpot & Cantonese Cuisine': 'Chinese restaurant',
    'Estuary Seafood Restaurant Bar - Event Space Orchard Road': 'Seafood restaurant',
    'Cherki': 'Fusion restaurant',
    'Olive Vine Pasta Fusion': 'Fusion restaurant',
    'Tambi Restaurant': 'Indian restaurant',
    "Martin's Kitchen": 'Western restaurant',
    'Quay House': 'Western restaurant',
    'ilmiri Korean Fusion Cuisine': 'Korean restaurant',
    'LECOQ': 'French restaurant',
    '15 Stamford': 'Western restaurant',
    'BYD by DXD': 'Fusion restaurant',
    'Kubo Wood-fired Cuisine & Wine Bar': 'Filipino restaurant',
    'Synthesis 食拿酒稳: Modern Chinese Restaurant & Cocktail Bar (Suntec City)': 'Chinese restaurant',
    'RACINES': 'French restaurant',
    'Tash Tish Tosh @ 50K': 'Western restaurant',
    'JU95': 'Fusion restaurant',
    'Fairytail Bar - By The Halal Mixologist': 'Fusion restaurant',
    'Feng Sheng Kampong Chicken Rice & Steamboat (24 Hours) | 豐盛滑鸡火锅': 'Chinese restaurant',
    'Fish & Bones': 'Western restaurant',
    '#Foodcoholic': 'Fusion restaurant',
    'Frieda Beer Garden & German Restaurant': 'German restaurant',
    'Frog Meat Fish Head 美蛙魚頭自助火锅 和炒菜': 'Chinese restaurant',
    'Godmama at Parkway Parade - Modern Peranakan Restaurant Singapore': 'Peranakan restaurant',
    'Gold Ocean Curry Fish Head': 'Chinese restaurant',
    'Gong Yuan Ma La Tang': 'Chinese restaurant',
    'Gong Yuan Ma La Tang 宫源麻辣烫 @ 18 Tai Seng': 'Chinese restaurant',
    'Good Luck BBQ 上上签四川小酒馆': 'Chinese restaurant',
    'Great Nanyang Heritage Cafe 大南洋': 'Malaysian restaurant',
    'Guccio Ristorante @Telok Ayer': 'Italian restaurant',
    'Hahahotpot Jalan Pisang': 'Chinese restaurant',
    'Abang Dol': 'Indonesian restaurant',
    'Restoran Ke Ren Lai': 'Chinese restaurant',
    '109 Yong Tau Foo': 'Chinese restaurant',
    'Jason Niang Dou Fu': 'Chinese restaurant',
    'Orchard Yong Tau Fu': 'Chinese restaurant',
    'The Beef House': 'Chinese restaurant',
    'Gem Fresh Yong Tau Foo': 'Chinese restaurant',
    'Bagus LaMian': 'Chinese restaurant',
    'Thunderbolt Tea by Boon Lay Traditional Hakka Lui Cha': 'Chinese restaurant',
    'Hakka Yong Tau Foo': 'Chinese restaurant',
    'Hannibal Singapore - European Grill and Bar': 'European restaurant',
    'HarriAnns Nonya Table': 'Peranakan restaurant',
    'Genius Central Singapore': 'Café',
    'Hei Lun Shi Tang 黑轮食堂': 'Chinese restaurant',
    'Hong Fan Tian 红翻天 Mala Hotpot': 'Chinese restaurant',
    'Hopscotch (Capitol)': 'Fusion restaurant'
}

CATEGORY_TO_CUISINE = {
    'African': 'African',
    'American': 'American',
    'Andhra': 'Indian',
    'Argentinian': 'Latin American',
    'Art cafe': 'Cafe',
    'Asian': 'Asian',
    'Asian fusion': 'Fusion',
    'Australian': 'Australian',
    'Authentic Japanese': 'Japanese',
    'Bakso': 'Indonesian',
    'Bar': 'Bar',
    'Bar & grill': 'Bar',
    'Barbecue': 'Barbecue',
    'Basque': 'Spanish',
    'Biryani': 'Indian',
    'Bistro': 'Casual',
    'Brasserie': 'Casual',
    'Brazilian': 'Latin American',
    'Breakfast': 'Cafe',
    'Brunch': 'Cafe',
    'Buffet': 'Buffet',
    'Cafe': 'Cafe',
    'Café': 'Cafe',
    'Cantonese': 'Chinese',
    'Cat cafe': 'Cafe',
    'Catalonian': 'Spanish',
    'Cha chaan teng (Hong Kong-style cafe)': 'Chinese',
    'Chettinad': 'Indian',
    'Chicken': 'Casual',
    'Chinese': 'Chinese',
    'Chinese noodle': 'Chinese',
    'Cocktail bar': 'Bar',
    'Conveyor belt sushi': 'Japanese',
    'Crab house': 'Seafood',
    'Creperie': 'French',
    'Delivery Chinese': 'Chinese',
    'Dessert': 'Dessert',
    'Dim sum': 'Chinese',
    'Diner': 'American',
    'Dumpling': 'Chinese',
    'Eastern European': 'Eastern European',
    'European': 'European',
    'Family': 'Family',
    'Filipino': 'Asian',
    'Fine dining': 'Fine dining',
    'Fish and seafood': 'Seafood',
    'French': 'French',
    'French steakhouse': 'French',
    'Fried chicken takeaway': 'Casual',
    'Fusion': 'Fusion',
    'Gastropub': 'Casual',
    'German': 'German',
    'Gluten-free': 'Health food',
    'Greek': 'Mediterranean',
    'Grill': 'Barbecue',
    'Hakka': 'Chinese',
    'Halal': 'Halal',
    'Hamburger': 'Casual',
    'Health food': 'Health food',
    'Hong Kong style fast food': 'Chinese',
    'Hot pot': 'Chinese',
    'Hunan': 'Chinese',
    'Indian': 'Indian',
    'Indian Muslim Restaurant': 'Indian',
    'Indonesian': 'Indonesian',
    'International': 'International',
    'Israeli': 'Middle Eastern',
    'Italian': 'Italian',
    'Izakaya': 'Japanese',
    'Japanese': 'Japanese',
    'Japanese steakhouse': 'Japanese',
    'Japanized western': 'Fusion',
    'Kaiseki': 'Japanese',
    'Kebab Shop': 'Middle Eastern',
    'Korean': 'Korean',
    'Korean barbecue': 'Korean',
    'Kushiyaki': 'Japanese',
    'Latin American': 'Latin American',
    'Lebanese': 'Middle Eastern',
    'Local': 'Local',
    'Malaysian': 'Local',
    'Meat dish': 'Barbecue',
    'Mediterranean': 'Mediterranean',
    'Mexican': 'Mexican',
    'Middle Eastern': 'Middle Eastern',
    'Modern Australian': 'Australian',
    'Modern European': 'European',
    'Modern French': 'French',
    'Modern Indian': 'Indian',
    'Modern izakaya': 'Japanese',
    'Moroccan': 'Middle Eastern',
    'Nepalese': 'Asian',
    'Noodle shop': 'Asian',
    'North Eastern Indian': 'Indian',
    'North Indian': 'Indian',
    'Nyonya': 'Peranakan',
    'Okonomiyaki': 'Japanese',
    'Oyster bar': 'Seafood',
    'Padang': 'Indonesian',
    'Pakistani': 'Asian',
    'Pan-Asian': 'Asian',
    'Pasta shop': 'Italian',
    'Peranakan': 'Peranakan',
    'Persian': 'Middle Eastern',
    'Peruvian': 'Latin American',
    'Pizza': 'Italian',
    'Portuguese': 'Mediterranean',
    'Punjabi': 'Indian',
    'Ramen': 'Japanese',
    'Russian': 'Eastern European',
    'Satay': 'Local',
    'Seafood': 'Seafood',
    'Seafood donburi': 'Japanese',
    'Shabu-shabu': 'Japanese',
    'Sichuan': 'Chinese',
    'Singaporean': 'Local',
    'Soba noodle shop': 'Japanese',
    'Soup': 'Casual',
    'Soup shop': 'Casual',
    'Southeast Asian': 'Local',
    'Southern Italian': 'Italian',
    'Spanish': 'Spanish',
    'Sri Lankan': 'Asian',
    'Steak house': 'Western',
    'Steamboat': 'Asian',
    'Sukiyaki and Shabu Shabu': 'Japanese',
    'Sushi': 'Japanese',
    'Sweets and dessert buffet': 'Dessert',
    'Swiss': 'European',
    'Syokudo and Teishoku': 'Japanese',
    'Taco': 'Mexican',
    'Taiwanese': 'Asian',
    'Tapas': 'Spanish',
    'Tapas bar': 'Spanish',
    'Tempura': 'Japanese',
    'Tempura donburi': 'Japanese',
    'Teppanyaki': 'Japanese',
    'Tex-Mex': 'Mexican',
    'Thai': 'Thai',
    'Tonkatsu': 'Japanese',
    'Traditional': 'Family',
    'Turkish': 'Middle Eastern',
    'Unagi': 'Japanese',
    'Vegan': 'Health food',
    'Vegetarian': 'Health food',
    'Vegetarian cafe and deli': 'Health food',
    'Vietnamese': 'Asian',
    'Western': 'Western',
    'Wine bar': 'Bar',
    'Yakiniku': 'Japanese',
    'Yakitori': 'Japanese'
}

POSTAL_TO_DISTRICT = {
    '01': '01', '02': '01', '03': '01', '04': '01', '05': '01', '06': '01',
    '07': '02', '08': '02', '09': '04', '10': '04', '11': '05', '12': '05',
    '13': '05', '14': '03', '15': '03', '16': '03', '17': '06', '18': '07',
    '19': '07', '20': '08', '21': '08', '22': '09', '23': '09', '24': '10',
    '25': '10', '26': '10', '27': '10', '28': '11', '29': '11', '30': '11',
    '31': '12', '32': '12', '33': '12', '34': '13', '35': '13', '36': '13',
    '37': '13', '38': '14', '39': '14', '40': '14', '41': '14', '42': '15',
    '43': '15', '44': '15', '45': '15', '46': '16', '47': '16', '48': '16',
    '49': '17', '50': '17', '51': '18', '52': '18', '53': '19', '54': '19',
    '55': '19', '56': '20', '57': '20', '58': '21', '59': '21', '60': '22',
    '61': '22', '62': '22', '63': '22', '64': '22', '65': '23', '66': '23',
    '67': '23', '68': '23', '69': '24', '70': '24', '71': '24', '72': '25',
    '73': '25', '75': '27', '76': '27', '77': '26', '78': '26', '79': '28',
    '80': '28', '81': '17', '82': '19'
}

DISTRICT_TO_REGION = {
    '01': 'City', '02': 'City', '03': 'South', '04': 'South', '05': 'West', '06': 'City',
    '07': 'City', '08': 'Central', '09': 'Central', '10': 'Central', '11': 'Central', '12': 'Central',
    '13': 'East', '14': 'East', '15': 'East', '16': 'East', '17': 'East', '18': 'East',
    '19': 'North', '20': 'North', '21': 'West', '22': 'West', '23': 'West', '24': 'West',
    '25': 'North', '26': 'North', '27': 'North', '28': 'North'
}

## Restaurant dataset cleaning

In [2]:
len(CATS_TO_REMOVE)

343

In [3]:
restaurant_cats = ['Restaurant Poise',
 'Revolver',
 'Rod Dee Thai Cafe',
 'Dickson Nasi Lemak',
 'SKAI Restaurant',
 'SUSHISAMBA Singapore',
 'Saap Saap Thai',
 'Salt & Pepper Pte Ltd',
 'San Laksa Steamboat Pte Ltd',
 'San Shu Gong Private Dining 三叔公私房菜',
 'Sanook Kitchen - West Gate',
 'Sanook Kitchen - City Square',
 'Sakari Sushi',
 'Warung Selera Masakan Kampung',
 'Selera Utama Kampung Plentong Baru (Sup Power)',
 'Selera Kampung',
 'Restoran Selera Sambal',
 'Medan Selera Kampung Tengah Gedok',
 'Restoran Selera Kampung',
 'Restoran Selera Kampung (FAM MAJU)',
 'SHUNFENG 顺风川渝私房菜',
 '蜀都丰 SO DO FUN @ MIDTOWN HOUSE',
 'Hibiscus Tree (芙蓉树下) Millenia Walk',
 '天府李川菜 DAINTY SICHUAN',
 '辣不辣 Labula BBQ Sichuan Restaurant @ Hougang Village',
 'Fukurou Kitchen',
 'Sin Manbok Korean Restaurant 신만복',
 'Sinpopo Brand Restaurant @ TANGS',
 'Siri House Dempsey',
 'Sky View Pavilion',
 'Soi 19 Thai Wanton Mee Telok Ayer',
 'Soon Huat (JB) Bak Kut Teh',
 'Steamboat Charcoal Claypot Prawn @Toa Payoh',
 'Crab Wang Imperial Dining',
 'Sum Dim Sum (Bedok)',
 'Sum Dim Sum (Punggol)',
 'Summer Hill',
 'Tamba',
 'Riverwalk Tandoor',
 'Ashoka Tandoor Family Restaurant',
 'Tandoor Lounge | Indian Restaurant Punggol',
 'Tangled',
 'Tapas,24 Singapore',
 'Sap Ubon Thai Cuisine (Homebased)',
 'Thaitanium',
 'The Banana Leaf Apolo',
 'The Curry Wok (TCW)',
 'The French Ladle',
 'The Guild',
 'The Kongsee',
 'The NCO Club',
 'The Palace Korean Restaurant',
 'Simply Peranakan Cuisine',
 'The Tavern Restaurant',
 'Thevar',
 'Three Blind Pigs',
 'Tian Yu Tian 天与天 Fish Head Steamboat',
 'Tian Tian You Yu 天天友魚',
 'Tian Wai Tian Fish Head Steamboat(天外天鱼头炉）Veerasamy Road',
 'Tiffin Room',
 "Tilly's by Butcher Boy",
 'Tok Panjang@Bt. Timah',
 'Toma By The River',
 'Town Restaurant',
 'Istanbul Corner SG',
 'Eden Restaurant',
 'The Mask Restaurant and Bar',
 'UNCLE & AUNTY FAMILY RESTAURANT',
 'Unatoto Guoco Tower',
 'VENUE By Sebastian',
 'The Social Kitchen',
 "Oscar's",
 'The Orchard Cafe',
 'Sampoorna Swadesi Vegetarian Restaurant',
 'WINESTONE',
 'WAKUDA',
 'White Rose Cafe',
 'Willow',
 'Yang Guo Fu Mala Tang 杨国福麻辣烫 @ Northpoint City',
 'YinJi Singapore',
 'YUAN 原',
 'Ru Yi Yuan Vegetarian',
 'Ting Yuan Hotpot Buffet',
 'Yue Bai',
 'Ya Ge - 雅阁 (Orchid Hotel SG)',
 'Yì By Jereme Leung',
 'Zén',
 'nakey',
 'Sibarita bar & resto',
 'Sibarita Restaurante',
 'Sibarita',
 'Sibarita Habana',
 'tiram',
 'The Fullerton Pavillion',
 'True Cost',
 '极鲜 Ji Xian Seafood & Hong Kong Dim Sum Express',
 '老四川豆花庄',
 '麻辣诱惑 Spice Spirits Singapore',
 'Huda Restaurant SG 胡大饭店',
 'Huevos @ River Valley',
 'Humpback',
 'ITOKO JAPANESE RESTAURANT',
 'IVINS @ Thomson Plaza',
 'Adipoli Curry Pot',
 'Indian Tandoor Restaurant',
 'Indo Rasa Singapore',
 'Indobowl, Singapore @ Sultan Gate',
 'Waroeng Anak Indo',
 "D'Penyetz Jem",
 'Samrang SG',
 'Ingleside',
 'Isshin Machi Greenwood',
 'JAAN By Kirk Westaway',
 'Jang San Korean Restaurant 장산왕족발',
 'Jia Xiang Sarawak Kuching Kolo Mee',
 'Jia Xiang Sarawak Kuching Kolo Mee - Marina Square',
 'Jia Xiang Sarawak Kuching Kolo Mee - Alexandra',
 'Jiak Modern Tzechar @ Hillv2',
 'Joséphine - French Cuisine & Wine Bar',
 'Kap Kun Kap Thai & Seafood',
 'Kazan Japanese Cuisine',
 'Kim Poh FishHead Steamboat',
 'fennel by komala vilas',
 'Korat Thai Cafe',
 "LET'S KINN THAI",
 "la table d'Emma",
 'Lao You Ji Fishhead Steamboat Seafood Restaurant',
 'Lazy Lizard - Flora Vista',
 'Le Petit Chef - Espoir Singapore',
 'Lepak at Sultan',
 'Lolla',
 "Lynnette's Kitchen (Private Dining)",
 'Lẩu Dê 3 Cô',
 '这边来 Zhe bian lai',
 'RED DOT MALA HOTPOT 小红点麻辣香锅',
 'Ri Ri Sheng Mala Hotpot',
 'Xing Le Mala Hotpot',
 'Madame Fan',
 'Makan Japanese restaurant',
 'MCC MAKAN PLACE',
 'Makan@Jen',
 'Miyu',
 'TAP @ 9 Penang',
 'Wild Coco (Hamilton Road)',
 'Seroja',
 'Mamacitas',
 'Man Man Japanese Unagi (Clarke Quay)',
 'Man Man Japanese Unagi (Duo Galleria)',
 'Marguerite',
 'Meta Restaurant',
 'True Veggie',
 'NAEUM Restaurant',
 'Naga House',
 'Nan Hua Chang (Traditional) Fish Head Steamboat',
 'Nicolas Le Restaurant',
 'Nyonyas & Gentlemen Restaurant',
 'Ocean Curry Fish Head',
 'ODETTE',
 'Restaurant Odette',
 'Odette',
 'Buffet Odette',
 "Old Bibik's Peranakan Kitchen",
 'Olivia Restaurant & Lounge',
 'Paofan Paradise 泡饭天 - T.K Kitchen Restaurant',
 'Papa Ayam 313@somerset',
 'Parkway Mini Steamboat',
 'Park Bäckerei',
 "Lim's Penang Prawn Noodle and Fried Kway Teow",
 'Milligram',
 'Podi & Poriyal',
 'Putra Minang Restaurant Bencoolen',
 'Ăn Là Ghiền -Buffet 5',
 'Qi - House of Sichuan',
 'Qi Xiang Hotpot',
 'Rainbow Rice House',
 '123 ZÔ - Ẩm Thực Việt',
 '27 Mezze Bar and Grill',
 '57° Mala Xiang Guo @Ang Mo Kio',
 '57° Mala Xiang Guo @Shaw Plaza',
 '87 Club Street',
 '88 Hong Kong Roast Meat Specialist',
 '88 Hong Kong Roast Meat Specialist',
 'ASIAN MARKET CAFE',
 'Absurdities Singapore',
 'Abundance: Taiwanese Restaurant & Craft Beer Bar (Redhill)',
 "Ajumma's Northpoint",
 "Ajumma's Westgate",
 'Alegria Singapore',
 'Alice Boulangerie & Restaurant',
 'Restoran Al Alif, Bandar Seri Alam',
 'Anglo Indian Cafe & Bar',
 'Anglo Indian Cafe & Bar',
 'Apéro',
 'Arab Street Turkish & Western Restaurant',
 'Hup Lee Cafeteria (Arcade Fish Soup)',
 'Ayam Penyet President Express - Midtown Hougang',
 'BACARO Italian Restaurant and Wine Bar',
 'Bacos',
 'Badaro Korean Seafood',
 'Bangkok Thai Muslim',
 'Bearded Bella',
 'Beast Duxton',
 'Bee Keong Restaurant',
 'Bella pizzeria',
 'Berlin65',
 'Bugis BBQ and Hotpot',
 'Bugis Fish Head Steamboat',
 'Buko Nero',
 'Thien Long Vietnamese Food',
 'Star Pho Le Beef Noodle Soup ( Subsidiary of Banh Mi Thit by Star Baguette )',
 "Làng Nướng 1980's - Authentic Vietnamese home-cooked Cuisine",
 'Ăn Là Ghiền-Cơm Niêu',
 'COL',
 'COLLECTIVE',
 'Well Collective',
 'Cafe de Muse - The Restaurant',
 'Caffe Fernet',
 'Cendra Tapas Bar and Grill',
 "Charlie's Restaurant & Bar (Boat Quay)",
 "Chef's Table by Chef Stephan (Western Omakase, Fine Dining)",
 "Chen's",
 'Chengdu Bowl Tanjong Pagar 成都Bowl',
 'Cherry & Oak',
 'Wannian Stonepot Fish',
 'Yuet Sing Seafood',
 'Yi Zun Noodle @ Marina Square',
 'Alijiang',
 'Penang Culture',
 'Western Mahua',
 'GLC Hao Yun Lai Restaurant (好运来餐厅）',
 'Al Madinah Restaurant',
 'Overrice (Voted Best Halal Restaurant near Haji Lane)',
 'Selera Serambi by Tang Tea House',
 'Bumbu Restaurant',
 'Chuan Kee Seafood',
 'Chuan Kee Seafood Toa Payoh',
 'Colonial Club Signatures',
 'Comida Mexicana Singapore',
 'Crafted by Peter Zwiener',
 'DaXi 大喜 - VivoCity',
 'Dapur Penyet @ City Plaza',
 'JB Garden Seafood Restaurant',
 'Din Tai Fung',
 'Dum Pukht Grill & Curry',
 'Dungeon by IL Fiore',
 'Ristorante Vista Duomo',
 'El Mesa Filipino Seafood & Grill Clarke Quay',
 'Element Restaurant Amara Singapore',
 'Ellenborough Market Café',
 'Empire Hotpot & Cantonese Cuisine',
 'Estuary Seafood Restaurant Bar - Event Space Orchard Road',
 'Cherki',
 'Olive Vine Pasta Fusion',
 'Tambi Restaurant',
 "Martin's Kitchen",
 'Quay House',
 'ilmiri Korean Fusion Cuisine',
 'LECOQ',
 '15 Stamford',
 'BYD by DXD',
 'Kubo Wood-fired Cuisine & Wine Bar',
 'Synthesis 食拿酒稳: Modern Chinese Restaurant & Cocktail Bar (Suntec City)',
 'RACINES',
 'Tash Tish Tosh @ 50K',
 'JU95',
 'Fairytail Bar - By The Halal Mixologist',
 'Feng Sheng Kampong Chicken Rice & Steamboat (24 Hours) | 豐盛滑鸡火锅',
 'Fish & Bones',
 '#Foodcoholic',
 'Frieda Beer Garden & German Restaurant',
 'Frog Meat Fish Head 美蛙魚頭自助火锅 和炒菜',
 'Godmama at Parkway Parade - Modern Peranakan Restaurant Singapore',
 'Gold Ocean Curry Fish Head',
 'Gong Yuan Ma La Tang',
 'Gong Yuan Ma La Tang 宫源麻辣烫 @ 18 Tai Seng',
 'Good Luck BBQ 上上签四川小酒馆',
 'Great Nanyang Heritage Cafe 大南洋',
 'Guccio Ristorante @Telok Ayer',
 'Hahahotpot Jalan Pisang',
 'Abang Dol',
 'Restoran Ke Ren Lai',
 '109 Yong Tau Foo',
 'Jason Niang Dou Fu',
 'Orchard Yong Tau Fu',
 'The Beef House',
 'Gem Fresh Yong Tau Foo',
 'Bagus LaMian',
 'Thunderbolt Tea by Boon Lay Traditional Hakka Lui Cha',
 'Hakka Yong Tau Foo',
 'Hannibal Singapore - European Grill and Bar',
 'HarriAnns Nonya Table',
 'Genius Central Singapore',
 'Hei Lun Shi Tang 黑轮食堂',
 'Hong Fan Tian 红翻天 Mala Hotpot',
 'Hopscotch (Capitol)']

In [4]:
len(restaurant_cats)

295

In [5]:
len(RESTAURANT_RECATEGORIZATION)

299

In [9]:
data = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/all_restaurants_dataset.csv')

In [3]:
data = data.drop(columns=['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])
data = data.drop_duplicates(subset=['place_id', 'name', 'address'], keep='last')
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6580 entries, 0 to 10103
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_id       6580 non-null   object
 1   name           6580 non-null   object
 2   reviews        6580 non-null   int64
 3   main_category  6580 non-null   object
 4   categories     6580 non-null   object
 5   main_rating    6580 non-null   float64
 6   address        6580 non-null   object
 7   link           6580 non-null   object
 8   review_photos  6580 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 514.1+ KB

In [20]:
data = data[~data['name'].isin(NAMES_TO_DROP)]
data = data[~data['place_id'].isin(PLACE_ID_TO_DROP)]

In [ ]:
data = data[(data['main_rating'] >= 3.7) & (data['reviews'] >=75) & (data['reviews'] <= 2000)]

In [31]:
data['categories'] = data['categories'].apply(lambda x: ast.literal_eval(x))
sec_cat_mask = (data['main_category'] == 'Restaurant') & (data['categories'].apply(lambda x: x != ['Restaurant']))
data.loc[sec_cat_mask, 'main_category'] = data['categories'].apply(lambda x: x[1] if len(x) > 1 else x[0])

In [32]:
data[data.main_category=='Restaurant']

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos
26,ChIJueAjEfEZ2jER63xqRZHiAKE,Restaurant Poise,114,Restaurant,[Restaurant],4.9,"6 Teck Lim Rd, Singapore 088384",https://www.google.com/maps/place/Restaurant+P...,['https://lh5.googleusercontent.com/p/AF1QipNg...
29,ChIJDxn4XBYZ2jERrbHE7aDSKGY,Revolver,298,Restaurant,[Restaurant],4.3,"56 Tras St, Singapore 078995",https://www.google.com/maps/place/Revolver/dat...,['https://lh5.googleusercontent.com/p/AF1QipMq...
68,ChIJdy8H8KMZ2jERhxJ2kuj3NH8,Rod Dee Thai Cafe,143,Restaurant,[Restaurant],3.9,"5 Teo Hong Rd, MRT Exit 4, Singapore 088323",https://www.google.com/maps/place/Rod+Dee+Thai...,['https://lh5.googleusercontent.com/p/AF1QipPr...
124,ChIJ4fQILgAZ2jERsJ8s130tNv0,Dickson Nasi Lemak,78,Restaurant,[Restaurant],4.1,"12 Gopeng St, #01-89/90, icon 078877",https://www.google.com/maps/place/Dickson+Nasi...,['https://lh5.googleusercontent.com/p/AF1QipPS...
128,ChIJNVinX68Z2jERWFXDwnDd9ZA,SKAI Restaurant,793,Restaurant,[Restaurant],4.1,"2 Stamford Rd, Lvl 70 #70-01, Singapore 178882",https://www.google.com/maps/place/SKAI+Restaur...,['https://lh5.googleusercontent.com/p/AF1QipMn...
...,...,...,...,...,...,...,...,...,...
9873,ChIJWco1mvwZ2jERixaRGmkRB9w,HarriAnns Nonya Table,336,Restaurant,[Restaurant],3.9,"3 Temasek Blvd, #01-416A, Suntec City West Win...",https://www.google.com/maps/place/HarriAnns+No...,['https://lh5.googleusercontent.com/p/AF1QipPX...
9934,ChIJ6SJM5hQZ2jERGAGlT3FpUNw,Genius Central Singapore,590,Restaurant,[Restaurant],4.0,"01-01 7-13 Amoy Street Far east square, 049949",https://www.google.com/maps/place/Genius+Centr...,['https://lh5.googleusercontent.com/p/AF1QipOF...
9994,ChIJoeBXbssb2jERsnEOvlPtBrQ,Hei Lun Shi Tang 黑轮食堂,101,Restaurant,[Restaurant],4.1,"1 Queensway, #02-47, Singapore 149053",https://www.google.com/maps/place/Hei+Lun+Shi+...,['https://lh5.googleusercontent.com/p/AF1QipPv...
10047,ChIJXRU4LoYX2jERxWteoisrRZU,Hong Fan Tian 红翻天 Mala Hotpot,92,Restaurant,[Restaurant],3.8,"blk 190 Lor 6 Toa Payoh, #01-528, Singapore 31...",https://www.google.com/maps/place/Hong+Fan+Tia...,['https://lh5.googleusercontent.com/p/AF1QipNZ...
10072,ChIJG0xEFbIZ2jER95y7R-Z8JJs,Hopscotch (Capitol),1491,Restaurant,[Restaurant],4.6,"15 Stamford Rd, #01-83 Arcade @ The Capitol Ke...",https://www.google.com/maps/place/Hopscotch+(C...,['https://lh5.googleusercontent.com/p/AF1QipOT...

In [13]:
list(data[data.main_category=='Restaurant'].name)

['Restaurant Poise',
 'Revolver',
 'Rod Dee Thai Cafe',
 'Dickson Nasi Lemak',
 'SKAI Restaurant',
 'SUSHISAMBA Singapore',
 'Saap Saap Thai',
 'Salt & Pepper Pte Ltd',
 'San Laksa Steamboat Pte Ltd',
 'San Shu Gong Private Dining 三叔公私房菜',
 'Sanook Kitchen - West Gate',
 'Sanook Kitchen - City Square',
 'Sakari Sushi',
 'Warung Selera Masakan Kampung',
 'Selera Utama Kampung Plentong Baru (Sup Power)',
 'Selera Kampung',
 'Restoran Selera Sambal',
 'Medan Selera Kampung Tengah Gedok',
 'Restoran Selera Kampung',
 'Restoran Selera Kampung (FAM MAJU)',
 'SHUNFENG 顺风川渝私房菜',
 '蜀都丰 SO DO FUN @ MIDTOWN HOUSE',
 'Hibiscus Tree (芙蓉树下) Millenia Walk',
 '天府李川菜 DAINTY SICHUAN',
 '辣不辣 Labula BBQ Sichuan Restaurant @ Hougang Village',
 'Fukurou Kitchen',
 'Sin Manbok Korean Restaurant 신만복',
 'Sinpopo Brand Restaurant @ TANGS',
 'Siri House Dempsey',
 'Sky View Pavilion',
 'Soi 19 Thai Wanton Mee Telok Ayer',
 'Soon Huat (JB) Bak Kut Teh',
 'Steamboat Charcoal Claypot Prawn @Toa Payoh',
 'Crab Wang Imperial Dining',
 'Sum Dim Sum (Bedok)',
 'Sum Dim Sum (Punggol)',
 'Summer Hill',
 'Tamba',
 'Riverwalk Tandoor',
 'Ashoka Tandoor Family Restaurant',
 'Tandoor Lounge | Indian Restaurant Punggol',
 'Tangled',
 'Tapas,24 Singapore',
 'Sap Ubon Thai Cuisine (Homebased)',
 'Thaitanium',
 'The Banana Leaf Apolo',
 'The Curry Wok (TCW)',
 'The French Ladle',
 'The Guild',
 'The Kongsee',
 'The NCO Club',
 'The Palace Korean Restaurant',
 'Simply Peranakan Cuisine',
 'The Tavern Restaurant',
 'Thevar',
 'Three Blind Pigs',
 'Tian Yu Tian 天与天 Fish Head Steamboat',
 'Tian Tian You Yu 天天友魚',
 'Tian Wai Tian Fish Head Steamboat(天外天鱼头炉）Veerasamy Road',
 'Tiffin Room',
 "Tilly's by Butcher Boy",
 'Tok Panjang@Bt. Timah',
 'Toma By The River',
 'Town Restaurant',
 'Istanbul Corner SG',
 'Eden Restaurant',
 'The Mask Restaurant and Bar',
 'UNCLE & AUNTY FAMILY RESTAURANT',
 'Unatoto Guoco Tower',
 'VENUE By Sebastian',
 'The Social Kitchen',
 "Oscar's",
 'The Orchard Cafe',
 'Sampoorna Swadesi Vegetarian Restaurant',
 'WINESTONE',
 'WAKUDA',
 'White Rose Cafe',
 'Willow',
 'Yang Guo Fu Mala Tang 杨国福麻辣烫 @ Northpoint City',
 'YinJi Singapore',
 'YUAN 原',
 'Ru Yi Yuan Vegetarian',
 'Ting Yuan Hotpot Buffet',
 'Yue Bai',
 'Ya Ge - 雅阁 (Orchid Hotel SG)',
 'Yì By Jereme Leung',
 'Zén',
 'nakey',
 'Sibarita bar & resto',
 'Sibarita Restaurante',
 'Sibarita',
 'Sibarita Habana',
 'tiram',
 'The Fullerton Pavillion',
 'True Cost',
 '极鲜 Ji Xian Seafood & Hong Kong Dim Sum Express',
 '老四川豆花庄',
 '麻辣诱惑 Spice Spirits Singapore',
 'Huda Restaurant SG 胡大饭店',
 'Huevos @ River Valley',
 'Humpback',
 'ITOKO JAPANESE RESTAURANT',
 'IVINS @ Thomson Plaza',
 'Adipoli Curry Pot',
 'Indian Tandoor Restaurant',
 'Indo Rasa Singapore',
 'Indobowl, Singapore @ Sultan Gate',
 'Waroeng Anak Indo',
 "D'Penyetz Jem",
 'Samrang SG',
 'Ingleside',
 'Isshin Machi Greenwood',
 'JAAN By Kirk Westaway',
 'Jang San Korean Restaurant 장산왕족발',
 'Jia Xiang Sarawak Kuching Kolo Mee',
 'Jia Xiang Sarawak Kuching Kolo Mee - Marina Square',
 'Jia Xiang Sarawak Kuching Kolo Mee - Alexandra',
 'Jiak Modern Tzechar @ Hillv2',
 'Joséphine - French Cuisine & Wine Bar',
 'Kap Kun Kap Thai & Seafood',
 'Kazan Japanese Cuisine',
 'Kim Poh FishHead Steamboat',
 'fennel by komala vilas',
 'Korat Thai Cafe',
 "LET'S KINN THAI",
 "la table d'Emma",
 'Lao You Ji Fishhead Steamboat Seafood Restaurant',
 'Lazy Lizard - Flora Vista',
 'Le Petit Chef - Espoir Singapore',
 'Lepak at Sultan',
 'Lolla',
 "Lynnette's Kitchen (Private Dining)",
 'Lẩu Dê 3 Cô',
 '这边来 Zhe bian lai',
 'RED DOT MALA HOTPOT 小红点麻辣香锅',
 'Ri Ri Sheng Mala Hotpot',
 'Xing Le Mala Hotpot',
 'Madame Fan',
 'Makan Japanese restaurant',
 'MCC MAKAN PLACE',
 'Makan@Jen',
 'Miyu',
 'TAP @ 9 Penang',
 'Wild Coco (Hamilton Road)',
 'Seroja',
 'Mamacitas',
 'Man Man Japanese Unagi (Clarke Quay)',
 'Man Man Japanese Unagi (Duo Galleria)',
 'Marguerite',
 'Meta Restaurant',
 'True Veggie',
 'NAEUM Restaurant',
 'Naga House',
 'Nan Hua Chang (Traditional) Fish Head Steamboat',
 'Nicolas Le Restaurant',
 'Nyonyas & Gentlemen Restaurant',
 'Ocean Curry Fish Head',
 'ODETTE',
 'Restaurant Odette',
 'Odette',
 'Buffet Odette',
 "Old Bibik's Peranakan Kitchen",
 'Olivia Restaurant & Lounge',
 'Paofan Paradise 泡饭天 - T.K Kitchen Restaurant',
 'Papa Ayam 313@somerset',
 'Parkway Mini Steamboat',
 'Park Bäckerei',
 "Lim's Penang Prawn Noodle and Fried Kway Teow",
 'Milligram',
 'Podi & Poriyal',
 'Putra Minang Restaurant Bencoolen',
 'Ăn Là Ghiền -Buffet 5',
 'Qi - House of Sichuan',
 'Qi Xiang Hotpot',
 'Rainbow Rice House',
 '123 ZÔ - Ẩm Thực Việt',
 '27 Mezze Bar and Grill',
 '57° Mala Xiang Guo @Ang Mo Kio',
 '57° Mala Xiang Guo @Shaw Plaza',
 '87 Club Street',
 '88 Hong Kong Roast Meat Specialist',
 '88 Hong Kong Roast Meat Specialist',
 'ASIAN MARKET CAFE',
 'Absurdities Singapore',
 'Abundance: Taiwanese Restaurant & Craft Beer Bar (Redhill)',
 "Ajumma's Northpoint",
 "Ajumma's Westgate",
 'Alegria Singapore',
 'Alice Boulangerie & Restaurant',
 'Restoran Al Alif, Bandar Seri Alam',
 'Anglo Indian Cafe & Bar',
 'Anglo Indian Cafe & Bar',
 'Apéro',
 'Arab Street Turkish & Western Restaurant',
 'Hup Lee Cafeteria (Arcade Fish Soup)',
 'Ayam Penyet President Express - Midtown Hougang',
 'BACARO Italian Restaurant and Wine Bar',
 'Bacos',
 'Badaro Korean Seafood',
 'Bangkok Thai Muslim',
 'Bearded Bella',
 'Beast Duxton',
 'Bee Keong Restaurant',
 'Bella pizzeria',
 'Berlin65',
 'Bugis BBQ and Hotpot',
 'Bugis Fish Head Steamboat',
 'Buko Nero',
 'Thien Long Vietnamese Food',
 'Star Pho Le Beef Noodle Soup ( Subsidiary of Banh Mi Thit by Star Baguette )',
 "Làng Nướng 1980's - Authentic Vietnamese home-cooked Cuisine",
 'Ăn Là Ghiền-Cơm Niêu',
 'COL',
 'COLLECTIVE',
 'Well Collective',
 'Cafe de Muse - The Restaurant',
 'Caffe Fernet',
 'Cendra Tapas Bar and Grill',
 "Charlie's Restaurant & Bar (Boat Quay)",
 "Chef's Table by Chef Stephan (Western Omakase, Fine Dining)",
 "Chen's",
 'Chengdu Bowl Tanjong Pagar 成都Bowl',
 'Cherry & Oak',
 'Wannian Stonepot Fish',
 'Yuet Sing Seafood',
 'Yi Zun Noodle @ Marina Square',
 'Alijiang',
 'Penang Culture',
 'Western Mahua',
 'GLC Hao Yun Lai Restaurant (好运来餐厅）',
 'Al Madinah Restaurant',
 'Overrice (Voted Best Halal Restaurant near Haji Lane)',
 'Selera Serambi by Tang Tea House',
 'Bumbu Restaurant',
 'Chuan Kee Seafood',
 'Chuan Kee Seafood Toa Payoh',
 'Colonial Club Signatures',
 'Comida Mexicana Singapore',
 'Crafted by Peter Zwiener',
 'DaXi 大喜 - VivoCity',
 'Dapur Penyet @ City Plaza',
 'JB Garden Seafood Restaurant',
 'Din Tai Fung',
 'Dum Pukht Grill & Curry',
 'Dungeon by IL Fiore',
 'Ristorante Vista Duomo',
 'El Mesa Filipino Seafood & Grill Clarke Quay',
 'Element Restaurant Amara Singapore',
 'Ellenborough Market Café',
 'Empire Hotpot & Cantonese Cuisine',
 'Estuary Seafood Restaurant Bar - Event Space Orchard Road',
 'Cherki',
 'Olive Vine Pasta Fusion',
 'Tambi Restaurant',
 "Martin's Kitchen",
 'Quay House',
 'ilmiri Korean Fusion Cuisine',
 'LECOQ',
 '15 Stamford',
 'BYD by DXD',
 'Kubo Wood-fired Cuisine & Wine Bar',
 'Synthesis 食拿酒稳: Modern Chinese Restaurant & Cocktail Bar (Suntec City)',
 'RACINES',
 'Tash Tish Tosh @ 50K',
 'JU95',
 'Fairytail Bar - By The Halal Mixologist',
 'Feng Sheng Kampong Chicken Rice & Steamboat (24 Hours) | 豐盛滑鸡火锅',
 'Fish & Bones',
 '#Foodcoholic',
 'Frieda Beer Garden & German Restaurant',
 'Frog Meat Fish Head 美蛙魚頭自助火锅 和炒菜',
 'Godmama at Parkway Parade - Modern Peranakan Restaurant Singapore',
 'Gold Ocean Curry Fish Head',
 'Gong Yuan Ma La Tang',
 'Gong Yuan Ma La Tang 宫源麻辣烫 @ 18 Tai Seng',
 'Good Luck BBQ 上上签四川小酒馆',
 'Great Nanyang Heritage Cafe 大南洋',
 'Guccio Ristorante @Telok Ayer',
 'Hahahotpot Jalan Pisang',
 'Abang Dol',
 'Restoran Ke Ren Lai',
 '109 Yong Tau Foo',
 'Jason Niang Dou Fu',
 'Orchard Yong Tau Fu',
 'The Beef House',
 'Gem Fresh Yong Tau Foo',
 'Bagus LaMian',
 'Thunderbolt Tea by Boon Lay Traditional Hakka Lui Cha',
 'Hakka Yong Tau Foo',
 'Hannibal Singapore - European Grill and Bar',
 'HarriAnns Nonya Table',
 'Genius Central Singapore',
 'Hei Lun Shi Tang 黑轮食堂',
 'Hong Fan Tian 红翻天 Mala Hotpot',
 'Hopscotch (Capitol)']

In [33]:
restaurant_cat_mask = data['main_category'] == 'Restaurant'
data.loc[restaurant_cat_mask, 'main_category'] = data['name'].apply(lambda x: RESTAURANT_RECATEGORIZATION.get(x, 'Restaurant'))

In [34]:
cats_to_remove = [cat.lower() for cat in CATS_TO_REMOVE]
mask = data['main_category'].str.lower().isin(cats_to_remove)
data = data[~mask]

In [35]:
data['main_category'] = data['main_category'].apply(lambda x: x.replace(' restaurant', ''))

In [36]:
data[data.main_category=='Restaurant']

Empty DataFrame
Columns: [place_id, name, reviews, main_category, categories, main_rating, address, link, review_photos]
Index: []

In [37]:
data['cuisine'] = data['main_category'].apply(lambda x: CATEGORY_TO_CUISINE[x])

In [19]:
data.main_category.unique()

array(['Seafood', 'Singaporean', 'Fine dining', 'European', 'Thai',
       'French', 'Chinese', 'Indian', 'Italian', 'Mediterranean', 'Pizza',
       'Family', 'Korean', 'Grill', 'Halal', 'Vegetarian', 'Steak house',
       'Japanese', 'Hamburger', 'Malaysian', 'Bar', 'Western',
       'Traditional', 'Fusion', 'Tapas', 'Chinese noodle', 'Pakistani',
       'Cafe', 'Modern French', 'Tex-Mex', 'Local', 'Mexican', 'Andhra',
       'Seafood donburi', 'Fish and seafood', 'Sushi', 'Modern izakaya',
       'Conveyor belt sushi', 'Izakaya', 'Oyster bar', 'Bistro', 'Buffet',
       'Bakso', 'Authentic Japanese', 'Indonesian',
       'Cha chaan teng (Hong Kong-style cafe)', 'Tempura donburi',
       'Korean barbecue', 'Taco', 'Sukiyaki and Shabu Shabu',
       'Shabu-shabu', 'Hot pot', 'Russian', 'Taiwanese', 'Modern Indian',
       'Teppanyaki', 'Yakitori', 'Barbecue', 'Sichuan', 'Asian',
       'Creperie', 'American', 'Vietnamese', 'Cantonese', 'Soup shop',
       'Soup', 'Asian fusion', 'Art cafe', 'Steamboat', 'Dim sum',
       'Australian', 'Spanish', 'Latin American', 'Bar & grill',
       'Modern European', 'Ramen', 'Turkish', 'Yakiniku', 'North Indian',
       'Moroccan', 'Tempura', 'Cat cafe', 'Nyonya', 'Peranakan',
       'Dessert', 'Gastropub', 'Soba noodle shop', 'Tonkatsu', 'Chicken',
       'Lebanese', 'Persian', 'Cocktail bar', 'Unagi',
       'Vegetarian cafe and deli', 'Sweets and dessert buffet', 'Swiss',
       'Japanese steakhouse', 'Southern Italian', 'Breakfast', 'Hunan',
       'Kaiseki', 'Gluten-free', 'Punjabi', 'Greek', 'Vegan', 'Basque',
       'Delivery Chinese', 'Fried chicken takeaway',
       'Indian Muslim Restaurant', 'Biryani', 'Dumpling', 'Diner',
       'African', 'Eastern European', 'Middle Eastern', 'Kushiyaki',
       'Sri Lankan', 'French steakhouse', 'Pasta shop', 'Satay',
       'Wine bar', 'Hong Kong style fast food', 'Portuguese',
       'Southeast Asian', 'Padang', 'North Eastern Indian', 'Filipino',
       'Israeli', 'German', 'Modern Australian', 'Café', 'Kebab Shop',
       'Tapas bar', 'Brunch', 'Meat dish', 'Crab house', 'Okonomiyaki',
       'Syokudo and Teishoku', 'Argentinian', 'Pan-Asian', 'Peruvian',
       'Brazilian', 'Chettinad', 'Brasserie', 'Noodle shop',
       'International', 'Japanized western', 'Health food', 'Catalonian',
       'Hakka', 'Nepalese'], dtype=object)

In [20]:
data.cuisine.nunique()

36

## Final cleaned restaurant dataset

In [5]:
import pandas as pd
import numpy as np
import re
import ast
import geocoder
from datetime import datetime

from yumspeak_ml.params import *

def find_coordinates(link):
    # get coordinates from link url
    match = re.search('!3d(-?\d+(?:\.\d+)?)!4d(-?\d+(?:\.\d+))', link)
    coordinates = [float(match.group(1)), float(match.group(2))]
    return coordinates

def add_lat_lng(restaurants_df):
    # get coordinates, + latitude, longtitude
    restaurants_df['coordinates'] = restaurants_df['link'].apply(lambda x: find_coordinates(x))
    restaurants_df['latitude'] = restaurants_df['coordinates'].apply(lambda x: x[0])
    restaurants_df['longtitude'] = restaurants_df['coordinates'].apply(lambda x: x[1])
    return restaurants_df

def get_postal_code(row):
    # get postal code with with mapbox reverse geocoding
    if isinstance(row['address'], str):
        try:
            match = re.search(r'\b\d{6}\b', row['address'])
            postal_code = match.group(0)
            row['full_postal_code'] = postal_code
            row['postal_code'] = postal_code[:2]
            return row
        except:
            g =geocoder.mapbox(row['coordinates'], method='reverse', key=MAP_API)
            row['address'] = f"Singapore {g.json['postal']}"
            row['full_postal_code'] = g.json['postal']
            row['postal_code'] = g.json['postal'][:2]
            return row
    else:
        try:
            g =geocoder.mapbox(row['coordinates'], method='reverse', key=MAP_API)
            row['address'] = f"Singapore {g.json['postal']}"
            row['full_postal_code'] = g.json['postal']
            row['postal_code'] = g.json['postal'][:2]
            return row
        except:
            print(f"Error: {row['address']}")
            return row['address']


# clean dataset
def clean_restaurant_data(restaurants_df:pd.DataFrame) -> pd.DataFrame:
    # restaurant df
    # drop irrelevant columns, rows with null values, restaurants_df duplicates with subset 'place_id', 'name', 'reviews', 'address']
    restaurants_df = restaurants_df.drop(columns=['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])
    restaurants_df = restaurants_df.drop_duplicates(subset=['place_id', 'name', 'address'], keep='last')
    restaurants_df = restaurants_df.dropna()

    # remove irrelevant place based by name and place_id
    restaurants_df = restaurants_df[~restaurants_df['name'].isin(NAMES_TO_DROP)]
    restaurants_df = restaurants_df[~restaurants_df['place_id'].isin(PLACE_ID_TO_DROP)]

    # filter out main_rating < 3.7 review counts >=75 <=2000
    restaurants_df = restaurants_df[(restaurants_df['main_rating'] >= 3.7) & (restaurants_df['reviews'] >= 75) & (restaurants_df['reviews'] <= 2000)]

    # main_category 'Restaurant', retrieve category from categories if there are more than 1 category.
    restaurants_df['categories'] = restaurants_df['categories'].apply(lambda x: ast.literal_eval(x))
    sec_cat_mask = (restaurants_df['main_category'] == 'Restaurant') & (restaurants_df['categories'].apply(lambda x: x != ['Restaurant']))
    restaurants_df.loc[sec_cat_mask, 'main_category'] = restaurants_df['categories'].apply(lambda x: x[1] if len(x) > 1 else x[0])

    # recategorize remaining restaurants
    restaurant_cat_mask = restaurants_df['main_category'] == 'Restaurant'
    restaurants_df.loc[restaurant_cat_mask, 'main_category'] = restaurants_df['name'].apply(lambda x: RESTAURANT_RECATEGORIZATION.get(x, 'Restaurant'))

    # remove irrelevant place based on main_categories
    cats_to_remove = [cat.lower() for cat in CATS_TO_REMOVE]
    mask = restaurants_df['main_category'].str.lower().isin(cats_to_remove)
    restaurants_df = restaurants_df[~mask]

    # remove ' restaurant' from the data
    restaurants_df['main_category'] = restaurants_df['main_category'].apply(lambda x: x.replace(' restaurant', ''))

    # map main_category to cuisine, reducing unique values
    restaurants_df['cuisine'] = restaurants_df['main_category'].apply(lambda x: CATEGORY_TO_CUISINE[x])

    # get lat lng from link (+coordinates, latitude, longitude)
    restaurants_df = add_lat_lng(restaurants_df)

    # filter out places with coordinates outside of SG
    restaurants_df = restaurants_df[restaurants_df['latitude'].between(left=1.129, right=1.493)]
    restaurants_df = restaurants_df[restaurants_df['longtitude'].between(left=103.557, right=104.131)]
    restaurants_df = restaurants_df.reset_index(drop=True)

    # get postal code with with mapbox reverse geocoding, extract district_code and region
    restaurants_df = restaurants_df.apply(get_postal_code, axis=1)
    restaurants_df['district_code'] = restaurants_df['postal_code'].map(POSTAL_TO_DISTRICT)
    restaurants_df['region'] = restaurants_df['district_code'].map(DISTRICT_TO_REGION)

    # drop all places not in SG
    restaurants_df = restaurants_df.dropna()

    # drop the coordinates column
    restaurants_df = restaurants_df.drop(columns=['coordinates', 'categories'])

    return restaurants_df

In [6]:
clean_restaurant = clean_restaurant_data(data)

In [7]:
clean_restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2706 entries, 0 to 2705
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          2706 non-null   object
 1   name              2706 non-null   object
 2   reviews           2706 non-null   int64
 3   main_category     2706 non-null   object
 4   main_rating       2706 non-null   float64
 5   address           2706 non-null   object
 6   link              2706 non-null   object
 7   review_photos     2706 non-null   object
 8   cuisine           2706 non-null   object
 9   latitude          2706 non-null   float64
 10  longtitude        2706 non-null   float64
 11  full_postal_code  2706 non-null   object
 12  postal_code       2706 non-null   object
 13  district_code     2706 non-null   object
 14  region            2706 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 317.2+ KB

In [8]:
clean_restaurant

,place_id,name,reviews,main_category,main_rating,address,link,review_photos,cuisine,latitude,longtitude,full_postal_code,postal_code,district_code,region
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,169663,16,03,South
1,ChIJP2EDPqAZ2jERJKipSQq7qY8,Red House Seafood Nanyang (Clarke Quay),730,Seafood,4.1,"3C River Valley Road 01-02/03, The Cannery, 17...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipMe...,Seafood,1.291020,103.845953,179022,17,06,City
2,ChIJSW7NnhAZ2jERj8p3W_nnhGE,Red House Seafood at Esplanade,186,Seafood,4.4,"8 Raffles Ave., #01-14 / 16 Esplanade, Singapo...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipOJ...,Seafood,1.289659,103.855763,039802,03,01,City
3,ChIJd30Ooj4Z2jERnRDo8yBJBFs,Rempapa,551,Singaporean,4.2,"2 Paya Lebar Rd, #01-01/02/03 Park Place Resid...",https://www.google.com/maps/place/Rempapa/@1.3...,['https://lh5.googleusercontent.com/p/AF1QipPd...,Local,1.316847,103.893299,409053,40,14,East
4,ChIJEbQ9xpYZ2jERyBrI8a2FtEY,Restaurant Born,104,Fine dining,4.8,"1 Neil Rd, #01-01, Singapore 088804",https://www.google.com/maps/place/Restaurant+B...,['https://lh5.googleusercontent.com/p/AF1QipNi...,Fine dining,1.280373,103.843890,088804,08,02,City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,ChIJr1YNocsZ2jERG1OcM9B47Bw,House of Seafood Riverwalk 螃蟹之家河畔店,771,Seafood,4.3,"20 Upper Circular Rd, #B1-38 The Riverwalk, Si...",https://www.google.com/maps/place/House+of+Sea...,['https://lh5.googleusercontent.com/p/AF1QipNH...,Seafood,1.289177,103.848111,058416,05,01,City
2702,ChIJdwjQ2tQZ2jERFYU-5f1aW2g,Hoàng Hâu - Vietnamese Restaurant,239,Vietnamese,4.6,"146 01, 1090 Jalan Bukit Merah, Block 146, 160146",https://www.google.com/maps/place/Ho%C3%A0ng+H...,['https://lh5.googleusercontent.com/p/AF1QipMC...,Asian,1.277773,103.830350,160146,16,03,South
2703,ChIJxVQqvIwZ2jER4WhnK5h7S0g,Hua Ting Restaurant,721,Cantonese,4.1,"Orchard Hotel Singapore, Level 2, 442 Orchard ...",https://www.google.com/maps/place/Hua+Ting+Res...,['https://lh5.googleusercontent.com/p/AF1QipOQ...,Chinese,1.307314,103.828910,238879,23,09,Central
2704,ChIJ3XkDF-EW2jERnoxsx_i5CcY,Hualong Fishhead Steamboat,173,Steamboat,3.8,"347 Ang Mo Kio Ave 3, #01-2142 Blk 347, Singap...",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMY...,Asian,1.367358,103.848586,560347,56,20,North
2705,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,339152,33,12,Central

In [9]:
# save cleaned dataset
clean_restaurant.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_restaurant_dataset.csv', index=False)

In [22]:
###############

In [2]:
data = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/all_restaurants_dataset.csv')

In [3]:
data = clean_restaurant_data(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2706 entries, 0 to 2705
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          2706 non-null   object
 1   name              2706 non-null   object
 2   reviews           2706 non-null   int64
 3   main_category     2706 non-null   object
 4   main_rating       2706 non-null   float64
 5   address           2706 non-null   object
 6   link              2706 non-null   object
 7   review_photos     2706 non-null   object
 8   cuisine           2706 non-null   object
 9   latitude          2706 non-null   float64
 10  longtitude        2706 non-null   float64
 11  full_postal_code  2706 non-null   object
 12  postal_code       2706 non-null   object
 13  district_code     2706 non-null   object
 14  region            2706 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 317.2+ KB

In [5]:
data.main_category.nunique()

149

In [5]:
reviews_v1 = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/reviews_data/all_reviews_dataset_v1.csv', low_memory=False)

In [3]:
reviews_v1

,place_id,name,review_id,rating,review_text,published_at,published_at_date,review_likes_count,response_from_owner_text,response_from_owner_ago,response_from_owner_date,total_number_of_reviews_by_reviewer,total_number_of_photos_by_reviewer,is_local_guide,review_translated_text,response_from_owner_translated_text
0,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUM3bE9DZ2lRRRAB,5,Delicious delicious delicious! Had the Tom yum...,2 weeks ago,2024-08-15 00:17:31.766742,0,NaN,NaN,NaN,453.0,1210.0,True,NaN,NaN
1,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSURicHQyb2Z3EAE,4,Fairly authentic Pad Thai cooked by a Thai per...,3 weeks ago,2024-08-08 00:17:31.769063,0,NaN,NaN,NaN,1381.0,8425.0,True,NaN,NaN
2,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSURieXYtTGdnRRAB,5,I had the fried kway tiao which cost $6. If ha...,3 weeks ago,2024-08-08 00:17:31.771272,0,NaN,NaN,NaN,615.0,2361.0,True,NaN,NaN
3,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUNiOFlhSzl3RRAB,3,I got the prawn omelette rice here for $6. The...,a month ago,2024-07-29 00:17:31.773506,0,NaN,NaN,NaN,29.0,40.0,False,NaN,NaN
4,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSUN6NnJhZEp3EAE,5,Really tasty Thai place in chinatown! The gree...,2 months ago,2024-06-29 00:17:31.775457,0,NaN,NaN,NaN,38.0,12.0,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4148069,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRZ0plZ2l3RRAB,4,Vegetarian eatery with good range of dishes th...,8 years ago,2016-08-30 15:41:51.335461,0,NaN,NaN,NaN,100.0,189.0,True,NaN,NaN
4148070,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSURBc2VmdGt3RRAB,4,Very nice vegetarian porridge and side dishes,8 years ago,2016-08-30 15:41:51.339127,0,NaN,NaN,NaN,344.0,1137.0,True,NaN,NaN
4148071,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRLXN5MG1BRRAB,1,expensive and not nice!,8 years ago,2016-08-30 15:41:51.342079,2,NaN,NaN,NaN,14.0,NaN,False,NaN,NaN
4148072,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSURnM3FMWWN3EAE,5,Cheap and delicious,8 years ago,2016-08-30 15:41:51.345018,0,NaN,NaN,NaN,29.0,48.0,True,NaN,NaN
4148073,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSUNRNF9hcEJnEAE,5,Damn good,10 years ago,2014-08-30 15:41:51.347637,0,NaN,NaN,NaN,2.0,NaN,False,NaN,NaN

In [4]:
reviews_df = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/reviews_data/all_reviews_dataset.csv', low_memory=False)

In [4]:
reviews = reviews_v1.copy()
reviews

,place_id,name,review_id,rating,review_text,published_at,published_at_date,review_likes_count,response_from_owner_text,response_from_owner_ago,response_from_owner_date,total_number_of_reviews_by_reviewer,total_number_of_photos_by_reviewer,is_local_guide,review_translated_text,response_from_owner_translated_text
0,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUM3bE9DZ2lRRRAB,5,Delicious delicious delicious! Had the Tom yum...,2 weeks ago,2024-08-15 00:17:31.766742,0,NaN,NaN,NaN,453.0,1210.0,True,NaN,NaN
1,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSURicHQyb2Z3EAE,4,Fairly authentic Pad Thai cooked by a Thai per...,3 weeks ago,2024-08-08 00:17:31.769063,0,NaN,NaN,NaN,1381.0,8425.0,True,NaN,NaN
2,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSURieXYtTGdnRRAB,5,I had the fried kway tiao which cost $6. If ha...,3 weeks ago,2024-08-08 00:17:31.771272,0,NaN,NaN,NaN,615.0,2361.0,True,NaN,NaN
3,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUNiOFlhSzl3RRAB,3,I got the prawn omelette rice here for $6. The...,a month ago,2024-07-29 00:17:31.773506,0,NaN,NaN,NaN,29.0,40.0,False,NaN,NaN
4,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSUN6NnJhZEp3EAE,5,Really tasty Thai place in chinatown! The gree...,2 months ago,2024-06-29 00:17:31.775457,0,NaN,NaN,NaN,38.0,12.0,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4148069,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRZ0plZ2l3RRAB,4,Vegetarian eatery with good range of dishes th...,8 years ago,2016-08-30 15:41:51.335461,0,NaN,NaN,NaN,100.0,189.0,True,NaN,NaN
4148070,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSURBc2VmdGt3RRAB,4,Very nice vegetarian porridge and side dishes,8 years ago,2016-08-30 15:41:51.339127,0,NaN,NaN,NaN,344.0,1137.0,True,NaN,NaN
4148071,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRLXN5MG1BRRAB,1,expensive and not nice!,8 years ago,2016-08-30 15:41:51.342079,2,NaN,NaN,NaN,14.0,NaN,False,NaN,NaN
4148072,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSURnM3FMWWN3EAE,5,Cheap and delicious,8 years ago,2016-08-30 15:41:51.345018,0,NaN,NaN,NaN,29.0,48.0,True,NaN,NaN
4148073,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSUNRNF9hcEJnEAE,5,Damn good,10 years ago,2014-08-30 15:41:51.347637,0,NaN,NaN,NaN,2.0,NaN,False,NaN,NaN

In [5]:
reviews_df = clean_reviews_df(reviews)

reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1348619 entries, 0 to 4147825
Data columns (total 11 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   place_id                             1348619 non-null  object
 1   name                                 1348619 non-null  object
 2   review_id                            1348619 non-null  object
 3   rating                               1348619 non-null  int64
 4   review_text                          1348619 non-null  object
 5   published_at_date                    1348619 non-null  object
 6   review_likes_count                   1348619 non-null  int64
 7   response_from_owner_text             1348619 non-null  object
 8   total_number_of_reviews_by_reviewer  1348619 non-null  float64
 9   total_number_of_photos_by_reviewer   1348619 non-null  float64
 10  is_local_guide                       1348619 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 114.5+ MB

In [6]:
reviews.columns

Index(['place_id', 'name', 'review_id', 'rating', 'review_text',
       'published_at', 'published_at_date', 'review_likes_count',
       'response_from_owner_text', 'response_from_owner_ago',
       'response_from_owner_date', 'total_number_of_reviews_by_reviewer',
       'total_number_of_photos_by_reviewer', 'is_local_guide',
       'review_translated_text', 'response_from_owner_translated_text'],
      dtype='object')

In [28]:
reviews_df = reviews.drop_duplicates()
reviews_df = reviews_df.drop(columns=['review_translated_text', 'response_from_owner_translated_text', 'response_from_owner_ago', 'response_from_owner_date', 'published_at'])

In [ ]:
data.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_all_restaurants_dataset.csv', index=False, header=True)

In [ ]:
data = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_all_restaurants_dataset.csv', dtype={'full_postal_code': str, 'postal_code':str, 'district_code':str})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4603 entries, 0 to 4602
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          4603 non-null   object
 1   name              4603 non-null   object
 2   reviews           4603 non-null   int64
 3   main_category     4603 non-null   object
 4   categories        4603 non-null   object
 5   main_rating       4603 non-null   float64
 6   address           4603 non-null   object
 7   link              4603 non-null   object
 8   review_photos     4603 non-null   object
 9   coordinates       4603 non-null   object
 10  latitude          4603 non-null   float64
 11  longtitude        4603 non-null   float64
 12  full_postal_code  4603 non-null   object
 13  postal_code       4603 non-null   object
 14  district_code     4602 non-null   object
 15  region            4602 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 575.5+ KB

In [ ]:
#drop duplicates with subset 'place_id', 'name', 'reviews', 'address']
df = df.drop_duplicates(subset=['place_id', 'name', 'reviews', 'address'])

# remove irrelevant place based on main_categories
cats_to_remove = [cat.lower() for cat in CATS_TO_REMOVE]
mask = df['main_category'].str.lower().isin(cats_to_remove)
df = df[~mask]

# remove irrelevant place based by name
#df = df[~df['name'].isin(NAME_TO_DROP)]
df = df[~df['place_id'].isin(PLACE_ID_TO_DROP)]

# fill na in main_category and categories(as ['unknown'])
df['main_category'].fillna('unknown', inplace=True)
df['main_category'] = df['main_category'].apply(lambda x: x.replace(' restaurant', ''))
df['categories'] = df['categories'].fillna("['unknown']").apply(ast.literal_eval)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4797 entries, 0 to 10093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_id       4797 non-null   object
 1   name           4797 non-null   object
 2   reviews        4797 non-null   int64
 3   main_category  4797 non-null   object
 4   categories     4797 non-null   object
 5   main_rating    4797 non-null   float64
 6   address        4771 non-null   object
 7   link           4797 non-null   object
 8   review_photos  4797 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 374.8+ KB

In [ ]:
df.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/final_restaurant_b1.csv', index=False, header=True)

In [ ]:
contains_pte_ltd = df['name'].str.contains('Pte Ltd', case=False, na=False)
contains_pte_ltd.sum()

52

In [ ]:
unknown_main_cat = df['main_category'] == 'unknown'
unknown_main_cat.sum()

40

In [ ]:
no_rating = df['main_rating'] == 0
no_rating.sum()

215

In [ ]:
restaurant = df['main_category'].str.contains('restaurant', case=False, na=False)
restaurant.sum()

4150

In [ ]:
to_remove = df[(~restaurant & contains_pte_ltd & no_rating) | unknown_main_cat].reset_index(drop=True)
to_remove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_id       40 non-null     object
 1   name           40 non-null     object
 2   reviews        40 non-null     int64
 3   main_category  40 non-null     object
 4   categories     40 non-null     object
 5   main_rating    40 non-null     float64
 6   address        38 non-null     object
 7   link           40 non-null     object
 8   review_photos  40 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 2.9+ KB

In [ ]:
to_remove

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos
0,ChIJg0UVB4IZ2jERfWKNEG8EyDc,Smile Dessert,0,unknown,[unknown],0.0,"717 Havelock Rd, Singapore 160022",https://www.google.com/maps/place/Smile+Desser...,[]
1,ChIJScNPoUKjAmAR3OO48IT78tQ,Takayama,0,unknown,[unknown],0.0,"Gifu, Japan","https://www.google.com/maps/place/Takayama,+Gi...",[]
2,ChIJc-gZD5EZ2jERRuJ5h8wWLH4,Thaiexpress Concepts Cineleisure Orchard,1,unknown,[unknown],3.0,"8 Grange Rd, Cineleisure Orchard, Singapore 23...",https://www.google.com/maps/place/Thaiexpress+...,[]
3,ChIJibiOH5kZ2jERcW3MZYgn_RI,The Sushi Bar Dining,1,unknown,[unknown],1.0,"280 River Valley Rd, Singapore 238321",https://www.google.com/maps/place/The+Sushi+Ba...,[]
4,ChIJyWPGSAIZ2jERw7arCVkYYdY,Vietnamese Cuisine,3,unknown,[unknown],4.7,"7 Hoe Chiang Rd, Singapore 089313",https://www.google.com/maps/place/Vietnamese+C...,['https://lh5.googleusercontent.com/p/AF1QipOe...
5,ChIJNcn6xtYb2jERKTlNIZRmQis,Ma La Xiang Guo,0,unknown,[unknown],0.0,"164 Bukit Merah Central, Singapore 150164",https://www.google.com/maps/place/Ma+La+Xiang+...,[]
6,ChIJPTjULjF0K4cRDfdv8pqL2ec,Rise,0,unknown,[unknown],0.0,"Scottsdale, AZ 85260, United States",https://www.google.com/maps/place/Rise/data=!4...,[]
7,ChIJrwRa3javK4cRKsgBw7yd65c,Rise,0,unknown,[unknown],0.0,"Mesa, AZ 85206, United States",https://www.google.com/maps/place/Rise/data=!4...,[]
8,ChIJ1239LW0Z2jERjAM826R9LvI,Amò,1,unknown,[unknown],4.0,"57 Tras St, Singapore 078996",https://www.google.com/maps/place/Am%C3%B2/dat...,[]
9,ChIJa1-WpnIZ2jERHQAr226M9eo,Amò,0,unknown,[unknown],0.0,"18 Tg Pagar Rd, Singapore 088441",https://www.google.com/maps/place/Am%C3%B2/dat...,[]
10,ChIJaQmIU40Z2jER0iORlK_9C3w,Anjappar,0,unknown,[unknown],0.0,NaN,https://www.google.com/maps/place/Anjappar/dat...,[]
11,ChIJLasDDPsa2jERHRw5n8EXprY,Atout Pte. Ltd.,0,unknown,[unknown],0.0,"55 W Coast Rd, Singapore 127365",https://www.google.com/maps/place/Atout+Pte.+L...,[]
12,ChIJq9L6dgAZ2jERfx1hmXmMcSQ,CHUAN Seafood Restaurant@Robertson Quay,6,unknown,[unknown],4.8,"86 Robertson Quay, #01-02, Singapore 238245",https://www.google.com/maps/place/CHUAN+Seafoo...,['https://lh5.googleusercontent.com/p/AF1QipM7...
13,ChIJ-doSHDnyloAR3j9w6munIlM,Curry Village,0,unknown,[unknown],0.0,"Yosemite Valley, CA 95389, USA",https://www.google.com/maps/place/Curry+Villag...,[]
14,ChIJAR3XlcbSAzQR-PJpUp1NPd0,Dongqu Subdistrict,0,unknown,[unknown],0.0,"Zhongshan, Guangdong Province, China, 528403",https://www.google.com/maps/place/Dongqu+Subdi...,[]
15,ChIJv-yIJjt1ZjURCqXRAIlYVzo,Dong-gu,0,unknown,[unknown],0.0,"Daegu, South Korea",https://www.google.com/maps/place/Dong-gu/data...,[]
16,ChIJ98wBvQYBBDQR-QRxlG6U-y0,Eastern District,0,unknown,[unknown],0.0,Hong Kong,https://www.google.com/maps/place/Eastern+Dist...,[]
17,ChIJgekNplKLcTURHx6qwXDnyKo,Dong-gu,0,unknown,[unknown],0.0,"Gwangju, South Korea",https://www.google.com/maps/place/Dong-gu/data...,[]
18,ChIJE_tycyszBjgRslQwfVs-nps,Midong District,0,unknown,[unknown],0.0,"Ürümqi, Xinjiang, China",https://www.google.com/maps/place/Midong+Distr...,[]
19,ChIJLzlyOqJ2bjQRCoruH6qSblk,East District,0,unknown,[unknown],0.0,"Tainan City, Taiwan 701",https://www.google.com/maps/place/East+Distric...,[]
20,ChIJF1KZzrR91jURyDBnGjnoxOE,Weidong District,0,unknown,[unknown],0.0,"Pingdingshan, Henan, China",https://www.google.com/maps/place/Weidong+Dist...,[]
21,ChIJtx9lYjg9aTQRDEI7IdeNICo,East District,0,unknown,[unknown],0.0,"Taichung City, Taiwan 401",https://www.google.com/maps/place/East+Distric...,[]
22,ChIJD3WX9G-IL14RrKFwEIV-rec,Dadong District,0,unknown,[unknown],0.0,"Shenyang, Liaoning, China",https://www.google.com/maps/place/Dadong+Distr...,[]
23,ChIJ60T6pYdJ2TYRPmKH_Gcf2gM,"Dong District, Panzhihua",0,unknown,[unknown],0.0,"Panzhihua, Sichuan, China",https://www.google.com/maps/place/Dong+Distric...,[]
24,ChIJi-I_FvaTUDYR6TWmXO709iY,Dongqu Neighborhood,0,unknown,[unknown],0.0,"Linxia, Linxia Hui Autonomous Prefecture, Gans...",https://www.google.com/maps/place/Dongqu+Neigh...,[]
25,ChIJV2yZrVKUbjQRXk2q36HY7qU,East District,0,unknown,[unknown],0.0,"Chiayi City, Taiwan 600",https://www.google.com/maps/place/East+Distric...,[]
26,ChIJka23jr3nzTURZED1gkU9v38,Yingdong District,0,unknown,[unknown],0.0,"Fuyang, Anhui, China",https://www.google.com/maps/place/Yingdong+Dis...,[]
27,ChIJVwlOtWDOZzURaChiaYhjgco,Dong-gu,0,unknown,[unknown],0.0,"Ulsan, South Korea",https://www.google.com/maps/place/Dong-gu/data...,[]
28,ChIJxXOdDnxQqjYRbq0tAPJ5jWw,Yangdong District,0,unknown,[unknown],0.0,"Yangjiang, Guangdong Province, China",https://www.google.com/maps/place/Yangdong+Dis...,[]
29,ChIJn4Q7kKMZOl4R7Kkd3Fftq2s,"Tiedong District, Siping",0,unknown,[unknown],0.0,"Siping, Jilin, China",https://www.google.com/maps/place/Tiedong+Dist...,[]
30,ChIJrRQLBA82aDQR5inqmxHPVc0,East District,0,unknown,[unknown],0.0,"Hsinchu City, Taiwan 300",https://www.google.com/maps/place/East+Distric...,[]
31,ChIJG8DOdFQMVDURqOPYU3AW8xY,Higashi-ku,0,unknown,[unknown],0.0,"Okayama, Japan",https://www.google.com/maps/place/Higashi-ku/d...,[]
32,ChIJJRdwCmA0EDQRgrdukt6qFcg,Jiedong District,0,unknown,[unknown],0.0,"Jieyang, Guangdong Province, China",https://www.google.com/maps/place/Jiedong+Dist...,[]
33,ChIJEYQU8he2KF4RwBUMPafIMns,"Tiedong District, Anshan",0,unknown,[unknown],0.0,"Anshan, Liaoning, China",https://www.google.com/maps/place/Tiedong+Dist...,[]
34,ChIJmUe4RtLq3TURgBqnrSSG24w,"Qiaodong District, Xingtai",0,unknown,[unknown],0.0,"Xingtai, Hebei, China",https://www.google.com/maps/place/Qiaodong+Dis...,[]
35,ChIJr4AdsUqbUjQR_AeHIViNja0,Dongwuzhen,0,unknown,[unknown],0.0,"Yinzhou, Ningbo, Zhejiang, China, 315113",https://www.google.com/maps/place/Dongwuzhen/d...,[]
36,ChIJDRBuX1eFpnER0uOcM-bDOx4,Eastern District,0,unknown,[unknown],0.0,American Samoa,https://www.google.com/maps/place/Eastern+Dist...,[]
37,ChIJpb4XsBXGQzUR0F0EmjLyTOQ,Yahatahigashi Ward,0,unknown,[unknown],0.0,"Kitakyushu, Fukuoka, Japan",https://www.google.com/maps/place/Yahatahigash...,[]
38,ChIJAQCQ7BEa2jERtZBv8sMBJpk,Fortuna Hu Mover,0,unknown,[unknown],0.0,"8 Empress Rd, Singapore 260008",https://www.google.com/maps/place/Fortuna+Hu+M...,[]
39,ChIJ-1gw81UZ2jERrV2Yf2R221U,Hard Rock Cafe,2,unknown,[unknown],4.0,NaN,https://www.google.com/maps/place/Hard+Rock+Ca...,[]

In [ ]:
df['main_category'] = df['main_category'].apply(lambda x: x.replace(' restaurant', ''))

In [ ]:
df.main_category.unique()

array(['Seafood', 'Vietnamese', 'Cantonese', 'Indian', 'Restaurant',
       'Dim sum', 'Cafe', 'Singaporean', 'Indonesian', 'Halal',
       'Fine dining', 'Modern European', 'Asian fusion', 'Thai', 'Nyonya',
       'Chinese', 'French', 'Hot pot', 'Italian', 'Vegetarian',
       'Mediterranean', 'Meat dish', 'Pizza', 'Family', 'Korean',
       'Japanese', 'Grill', 'Steak house', 'Sushi', 'Hamburger', 'Asian',
       'Bar', 'Traditional', 'Tapas', 'Mexican', 'Chinese noodle',
       'Pakistani', 'Sichuan', 'Turkish', 'Modern French', 'Salad shop',
       'Seafood donburi', 'Tex-Mex', 'Chicken', 'South Indian', 'Andhra',
       'Lebanese', 'Fish and seafood', 'Izakaya', 'Authentic Japanese',
       'Modern izakaya', 'Conveyor belt sushi', 'Unagi', 'Oyster bar',
       'Bistro', 'Steamboat', 'Indian Muslim Restaurant', 'Malaysian',
       'Nasi', 'Brunch', 'Bakso', 'Breakfast', 'Fried chicken takeaway',
       'Padang', 'Ramen', 'Cha chaan teng (Hong Kong-style cafe)',
       'Tempura donburi', 'Korean barbecue', 'Fusion', 'Vegan',
       'Gastropub', 'French steakhouse', 'Western', 'Buffet', 'Taco',
       'Persian', 'Sukiyaki and Shabu Shabu', 'Shabu-shabu', 'Russian',
       'Taiwanese', 'Modern Indian', 'Teppanyaki', 'Yakitori', 'Barbecue',
       'Delivery Chinese', 'Hunan', 'Diner', 'Art cafe',
       'Modern Australian', 'Creperie', 'Dessert', 'unknown',
       'Hong Kong style fast food', 'North Indian', 'Soup shop', 'Fish',
       'Soup', 'Soup kitchen', 'American', 'Vegetarian cafe and deli',
       'Australian', 'Spanish', 'Latin American', 'Country food',
       'Bar & grill', 'Yakiniku', 'Pasta shop', 'Tapas bar', 'Moroccan',
       'Tempura', 'Gluten-free', 'Cat cafe', 'Middle Eastern',
       'Noodle shop', 'Beer garden', 'Soba noodle shop', 'Tonkatsu',
       'Kebab Shop', 'Arab', 'Egyptian', 'Doner kebab', 'Greek',
       'European', 'Cocktail bar', 'Pan-Asian', 'Portuguese', 'Swiss',
       'Japanese steakhouse', 'Southern Italian', 'Chicken wings',
       'Kaiseki', 'Punjabi', 'Southeast Asian', 'North Eastern Indian',
       'Ayam penyet', 'Dumpling', 'African', 'Eastern European',
       'Kushiyaki', 'Sri Lankan', 'Satay', 'Haute French', 'Health food',
       'Rice', 'Dog cafe', 'Porridge', 'German', 'Filipino', 'Hakka',
       'Cafeteria', 'Wine bar', 'Okonomiyaki', 'Syokudo and Teishoku',
       'Argentinian', 'Brazilian', 'Modern British', 'Peruvian',
       'Chettinad', 'Burmese', 'Kushiage and kushikatsu',
       'Japanized western', 'Catalonian', 'Pempek', 'Nepalese', 'Yemeni'],
      dtype=object)

In [ ]:
df

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,"[Seafood restaurant, Asian restaurant, Dim sum...",4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...
1,ChIJP2EDPqAZ2jERJKipSQq7qY8,Red House Seafood Nanyang (Clarke Quay),730,Seafood,[Seafood restaurant],4.1,"3C River Valley Road 01-02/03, The Cannery, 17...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipMe...
2,ChIJSW7NnhAZ2jERj8p3W_nnhGE,Red House Seafood at Esplanade,186,Seafood,"[Seafood restaurant, Chinese restaurant]",4.4,"8 Raffles Ave., #01-14 / 16 Esplanade, Singapo...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipOJ...
3,ChIJNxLu-EAb2jER_a4Y4ahn8TU,Red Sparrow,496,Vietnamese,"[Vietnamese restaurant, Asian restaurant]",4.0,"11 Dempsey Rd, #01-18, 249673, Singapore 249673",https://www.google.com/maps/place/Red+Sparrow/...,['https://lh5.googleusercontent.com/p/AF1QipO8...
4,ChIJIds6rnUZ2jERPx6E0UCf6HM,Red Star Restaurant,3725,Cantonese,"[Cantonese restaurant, Chinese restaurant, Dim...",3.7,"Block 54 Chin Swee Rd, #07-23, Singapore 160054",https://www.google.com/maps/place/Red+Star+Res...,['https://lh5.googleusercontent.com/p/AF1QipN-...
...,...,...,...,...,...,...,...,...,...
10089,ChIJA2UPtIwZ2jERE6WwKP0x278,Hua Ting Steamboat,70,Steamboat,"[Steamboat restaurant, Chinese restaurant]",4.2,"Mezzanine level #01-08, Claymore Connect, 442 ...",https://www.google.com/maps/place/Hua+Ting+Ste...,['https://lh5.googleusercontent.com/p/AF1QipM4...
10090,ChIJ3XkDF-EW2jERnoxsx_i5CcY,Hualong Fishhead Steamboat,173,Steamboat,"[Steamboat restaurant, Asian restaurant, Chine...",3.8,"347 Ang Mo Kio Ave 3, #01-2142 Blk 347, Singap...",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMY...
10091,ChIJLfNb-H0X2jERHknheYoXfgY,Hualong Fishhead Steamboat,45,Chinese,[Chinese restaurant],3.8,"978 Toa Payoh N, #02-01, Singapore 319001",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMl...
10092,ChIJ6-YzAysX2jERKmeXREbO7VM,Hualong Fishhead Steamboat,8,Chinese,[Chinese restaurant],2.6,"Blk 631 Hougang Ave 8, #01-06, Singapore 530631",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipOW...
10093,ChIJT49EoY0R2jERS0Ll4u0WxzU,HuaLong Fishhead Steamboat,45,Steamboat,"[Steamboat restaurant, Cafe, Coffee shop]",3.7,"155 Bukit Batok Street 11, #01-324, Singapore ...",https://www.google.com/maps/place/HuaLong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipPQ...

In [ ]:
df = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/all_restaurants_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10104 entries, 0 to 10103
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_id       10104 non-null  object
 1   name           10104 non-null  object
 2   reviews        10104 non-null  int64
 3   main_category  10015 non-null  object
 4   categories     10015 non-null  object
 5   main_rating    10104 non-null  float64
 6   address        9992 non-null   object
 7   link           10104 non-null  object
 8   review_photos  10104 non-null  object
 9   Unnamed: 9     0 non-null      float64
 10  Unnamed: 10    0 non-null      float64
 11  Unnamed: 11    0 non-null      float64
 12  Unnamed: 12    0 non-null      float64
 13  Unnamed: 13    0 non-null      float64
 14  Unnamed: 14    0 non-null      float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(9), int64(1), object(7)
memory usage: 1.3+ MB

In [ ]:
#drop irrelevant columns, rows with null values, df duplicates with subset 'place_id', 'name', 'reviews', 'address']
df = df.drop(columns=['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])
df = df.dropna()

# remove irrelevant place based on main_categories
cats_to_remove = [cat.lower() for cat in CATS_TO_REMOVE]
mask = df['main_category'].str.lower().isin(cats_to_remove)
df = df[~mask]

# remove irrelevant place based by name and place_id
df = df[~df['name'].isin(NAMES_TO_DROP)]
df = df[~df['place_id'].isin(PLACE_ID_TO_DROP)]

# main_category 'Restaurant', retrieve category from categories if there are more than 1 category.
df['categories'] = df['categories'].apply(lambda x: ast.literal_eval(x))
sec_cat_mask = (df['main_category'] == 'Restaurant') & (df['categories'].apply(lambda x: x != ['Restaurant']))
df.loc[sec_cat_mask, 'main_category'] = df['categories'].apply(lambda x: x[1] if len(x) > 1 else x[0])

# recategorize remaining restaurants and remove ' restaurant' from the data
restaurant_cat_mask = df['main_category'] == 'Restaurant'
df.loc[restaurant_cat_mask, 'main_category'] = df['name'].apply(lambda x: RESTAURANT_RECATEGORIZATION.get(x, 'Restaurant'))
df['main_category'] = df['main_category'].apply(lambda x: x.replace(' restaurant', ''))

df = df.drop_duplicates(subset=['place_id', 'name', 'reviews', 'address'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4675 entries, 0 to 10093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_id       4675 non-null   object
 1   name           4675 non-null   object
 2   reviews        4675 non-null   int64
 3   main_category  4675 non-null   object
 4   categories     4675 non-null   object
 5   main_rating    4675 non-null   float64
 6   address        4675 non-null   object
 7   link           4675 non-null   object
 8   review_photos  4675 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 365.2+ KB

In [ ]:
df

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,"['Seafood restaurant', 'Asian restaurant', 'Di...",4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...
1,ChIJP2EDPqAZ2jERJKipSQq7qY8,Red House Seafood Nanyang (Clarke Quay),730,Seafood,['Seafood restaurant'],4.1,"3C River Valley Road 01-02/03, The Cannery, 17...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipMe...
2,ChIJSW7NnhAZ2jERj8p3W_nnhGE,Red House Seafood at Esplanade,186,Seafood,"['Seafood restaurant', 'Chinese restaurant']",4.4,"8 Raffles Ave., #01-14 / 16 Esplanade, Singapo...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipOJ...
3,ChIJNxLu-EAb2jER_a4Y4ahn8TU,Red Sparrow,496,Vietnamese,"['Vietnamese restaurant', 'Asian restaurant']",4.0,"11 Dempsey Rd, #01-18, 249673, Singapore 249673",https://www.google.com/maps/place/Red+Sparrow/...,['https://lh5.googleusercontent.com/p/AF1QipO8...
4,ChIJIds6rnUZ2jERPx6E0UCf6HM,Red Star Restaurant,3725,Cantonese,"['Cantonese restaurant', 'Chinese restaurant',...",3.7,"Block 54 Chin Swee Rd, #07-23, Singapore 160054",https://www.google.com/maps/place/Red+Star+Res...,['https://lh5.googleusercontent.com/p/AF1QipN-...
...,...,...,...,...,...,...,...,...,...
10089,ChIJA2UPtIwZ2jERE6WwKP0x278,Hua Ting Steamboat,70,Steamboat,"['Steamboat restaurant', 'Chinese restaurant']",4.2,"Mezzanine level #01-08, Claymore Connect, 442 ...",https://www.google.com/maps/place/Hua+Ting+Ste...,['https://lh5.googleusercontent.com/p/AF1QipM4...
10090,ChIJ3XkDF-EW2jERnoxsx_i5CcY,Hualong Fishhead Steamboat,173,Steamboat,"['Steamboat restaurant', 'Asian restaurant', '...",3.8,"347 Ang Mo Kio Ave 3, #01-2142 Blk 347, Singap...",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMY...
10091,ChIJLfNb-H0X2jERHknheYoXfgY,Hualong Fishhead Steamboat,45,Chinese,['Chinese restaurant'],3.8,"978 Toa Payoh N, #02-01, Singapore 319001",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMl...
10092,ChIJ6-YzAysX2jERKmeXREbO7VM,Hualong Fishhead Steamboat,8,Chinese,['Chinese restaurant'],2.6,"Blk 631 Hougang Ave 8, #01-06, Singapore 530631",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipOW...
10093,ChIJT49EoY0R2jERS0Ll4u0WxzU,HuaLong Fishhead Steamboat,45,Steamboat,"['Steamboat restaurant', 'Cafe', 'Coffee shop']",3.7,"155 Bukit Batok Street 11, #01-324, Singapore ...",https://www.google.com/maps/place/HuaLong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipPQ...

In [ ]:
df = clean_restaurant_data(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4510 entries, 0 to 4510
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          4510 non-null   object
 1   name              4510 non-null   object
 2   reviews           4510 non-null   int64
 3   main_category     4510 non-null   object
 4   categories        4510 non-null   object
 5   main_rating       4510 non-null   float64
 6   address           4510 non-null   object
 7   link              4510 non-null   object
 8   review_photos     4510 non-null   object
 9   coordinates       4510 non-null   object
 10  latitude          4510 non-null   float64
 11  longtitude        4510 non-null   float64
 12  full_postal_code  4510 non-null   object
 13  postal_code       4510 non-null   object
 14  district_code     4510 non-null   object
 15  region            4510 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 599.0+ KB

In [ ]:
df.main_category.unique()

array(['Seafood', 'Vietnamese', 'Cantonese', 'Indian', 'Restaurant',
       'Dim sum', 'Cafe', 'Singaporean', 'Indonesian', 'Halal',
       'Fine dining', 'Modern European', 'Asian fusion', 'European',
       'Thai', 'Wine bar', 'Nyonya', 'Chinese', 'French', 'Hot pot',
       'Italian', 'Vegetarian', 'Mediterranean', 'Meat dish', 'Pizza',
       'Korean', 'Japanese', 'Grill', 'Steak house', 'Sushi', 'Hamburger',
       'Bar', 'Traditional', 'Tapas', 'Diner', 'Mexican',
       'Chinese noodle', 'Pakistani', 'Sichuan', 'Turkish',
       'Modern French', 'Seafood donburi', 'Chicken', 'South Indian',
       'Andhra', 'Lebanese', 'Fish and seafood', 'Izakaya',
       'Authentic Japanese', 'Modern izakaya', 'Conveyor belt sushi',
       'Unagi', 'Oyster bar', 'Bistro', 'Event venue', 'Steamboat',
       'Buffet', 'Asian', 'Indian Muslim Restaurant', 'Malaysian', 'Nasi',
       'Padang', 'Coffee store', 'Ramen',
       'Cha chaan teng (Hong Kong-style cafe)', 'Tempura donburi',
       'Korean barbecue', 'Fusion', 'Vegan', 'Gastropub',
       'French steakhouse', 'Western', 'Cocktail bar', 'Taco', 'Persian',
       'Sukiyaki and Shabu Shabu', 'Shabu-shabu', 'Russian', 'Taiwanese',
       'Fried chicken takeaway', 'Modern Indian', 'Teppanyaki',
       'Yakitori', 'Barbecue', 'Delivery Chinese', 'Chinese BBQ', 'Hunan',
       'Basque', 'Family', 'Chinese seafood', 'Art cafe',
       'Modern Australian', 'Creperie', 'Contemporary', 'Dessert',
       'American', 'Hong Kong style fast food', 'North Indian',
       'Soup shop', 'Fast food', 'Fish', 'Soup',
       'Vegetarian cafe and deli', 'Health food', 'Australian',
       'Supermarket', 'Spanish', 'Latin American',
       'Japanese grocery store', 'Country food', 'Bar & grill',
       'Pasta shop', 'Tapas bar', 'Moroccan', 'Yakiniku', 'Tempura',
       'Steakhouse', 'Gluten-free', 'Cat cafe', 'Middle Eastern',
       'Brasserie', 'Noodle shop', 'Indian fusion', 'Beer garden',
       'Chinese hotpot', 'Soba noodle shop', 'Tonkatsu',
       'International buffet', 'Kebab Shop', 'Arab', 'Egyptian',
       'Doner kebab', 'Greek', 'International', 'Pan-Asian',
       'Sweets and dessert buffet', 'Vietnamese hotpot', 'Portuguese',
       'Swiss', 'Japanese steakhouse', 'Southern Italian',
       'Catering food and drink supplier', 'Breakfast', 'Kaiseki',
       'Chinese Takeaway', 'Punjabi', 'Chinese fine dining',
       'Southeast Asian', 'Kyoto style Japanese', 'Açaí shop', 'Bakery',
       'Food court', 'North Eastern Indian', 'Caterer', 'Biryani',
       'Ayam penyet', 'French fine dining', 'Dumpling', 'African',
       'Eastern European', 'Kushiyaki', 'Sri Lankan', 'Filipino', 'Satay',
       'Delivery service', 'Brunch', 'Cake shop', 'Porridge', 'Israeli',
       'German', 'Beer store', 'Peranakan', 'Italian fusion',
       'French bakery', 'Hakka', 'Cafeteria', 'French and Chinese',
       'Crab house', 'Experimental cuisine', 'Okonomiyaki', 'Art gallery',
       'Coffee shop', 'Syokudo and Teishoku', 'Argentinian', 'Brazilian',
       'Modern British', 'Chinese BBQ and Hotpot', 'Peruvian',
       'Chettinad', 'Burmese', 'Malay', 'Kushiage and kushikatsu',
       'Hawker Stall', 'Japanized western', 'Bar and', 'Catalonian',
       'Healthy dining', 'Pempek', 'Nepalese', 'Yemeni', 'Hotpot'],
      dtype=object)

In [ ]:
df.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_all_restaurants_dataset.csv', index=False)

In [ ]:
d = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_all_restaurants_dataset.csv', dtype={'full_postal_code': str, 'postal_code':str, 'district_code':str})
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4510 entries, 0 to 4509
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          4510 non-null   object
 1   name              4510 non-null   object
 2   reviews           4510 non-null   int64
 3   main_category     4510 non-null   object
 4   categories        4510 non-null   object
 5   main_rating       4510 non-null   float64
 6   address           4510 non-null   object
 7   link              4510 non-null   object
 8   review_photos     4510 non-null   object
 9   coordinates       4510 non-null   object
 10  latitude          4510 non-null   float64
 11  longtitude        4510 non-null   float64
 12  full_postal_code  4510 non-null   object
 13  postal_code       4510 non-null   object
 14  district_code     4510 non-null   object
 15  region            4510 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 563.9+ KB

In [ ]:
d

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos,coordinates,latitude,longtitude,full_postal_code,postal_code,district_code,region
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,"['Seafood restaurant', 'Asian restaurant', 'Di...",4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,"[1.2903687, 103.8352515]",1.290369,103.835251,169663,16,03,South
1,ChIJP2EDPqAZ2jERJKipSQq7qY8,Red House Seafood Nanyang (Clarke Quay),730,Seafood,['Seafood restaurant'],4.1,"3C River Valley Road 01-02/03, The Cannery, 17...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipMe...,"[1.29102, 103.8459532]",1.291020,103.845953,179022,17,06,City
2,ChIJSW7NnhAZ2jERj8p3W_nnhGE,Red House Seafood at Esplanade,186,Seafood,"['Seafood restaurant', 'Chinese restaurant']",4.4,"8 Raffles Ave., #01-14 / 16 Esplanade, Singapo...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipOJ...,"[1.2896585, 103.8557631]",1.289659,103.855763,039802,03,01,City
3,ChIJNxLu-EAb2jER_a4Y4ahn8TU,Red Sparrow,496,Vietnamese,"['Vietnamese restaurant', 'Asian restaurant']",4.0,"11 Dempsey Rd, #01-18, 249673, Singapore 249673",https://www.google.com/maps/place/Red+Sparrow/...,['https://lh5.googleusercontent.com/p/AF1QipO8...,"[1.3040143, 103.8100743]",1.304014,103.810074,249673,24,10,Central
4,ChIJIds6rnUZ2jERPx6E0UCf6HM,Red Star Restaurant,3725,Cantonese,"['Cantonese restaurant', 'Chinese restaurant',...",3.7,"Block 54 Chin Swee Rd, #07-23, Singapore 160054",https://www.google.com/maps/place/Red+Star+Res...,['https://lh5.googleusercontent.com/p/AF1QipN-...,"[1.2874996, 103.8411942]",1.287500,103.841194,160054,16,03,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,ChIJA2UPtIwZ2jERE6WwKP0x278,Hua Ting Steamboat,70,Steamboat,"['Steamboat restaurant', 'Chinese restaurant']",4.2,"Mezzanine level #01-08, Claymore Connect, 442 ...",https://www.google.com/maps/place/Hua+Ting+Ste...,['https://lh5.googleusercontent.com/p/AF1QipM4...,"[1.307564, 103.8287922]",1.307564,103.828792,238879,23,09,Central
4506,ChIJ3XkDF-EW2jERnoxsx_i5CcY,Hualong Fishhead Steamboat,173,Steamboat,"['Steamboat restaurant', 'Asian restaurant', '...",3.8,"347 Ang Mo Kio Ave 3, #01-2142 Blk 347, Singap...",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMY...,"[1.3673578, 103.8485856]",1.367358,103.848586,560347,56,20,North
4507,ChIJLfNb-H0X2jERHknheYoXfgY,Hualong Fishhead Steamboat,45,Chinese,['Chinese restaurant'],3.8,"978 Toa Payoh N, #02-01, Singapore 319001",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMl...,"[1.3431212, 103.8511463]",1.343121,103.851146,319001,31,12,Central
4508,ChIJ6-YzAysX2jERKmeXREbO7VM,Hualong Fishhead Steamboat,8,Chinese,['Chinese restaurant'],2.6,"Blk 631 Hougang Ave 8, #01-06, Singapore 530631",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipOW...,"[1.3707333, 103.8813722]",1.370733,103.881372,530631,53,19,North
4509,ChIJT49EoY0R2jERS0Ll4u0WxzU,HuaLong Fishhead Steamboat,45,Steamboat,"['Steamboat restaurant', 'Cafe', 'Coffee shop']",3.7,"155 Bukit Batok Street 11, #01-324, Singapore ...",https://www.google.com/maps/place/HuaLong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipPQ...,"[1.3482129, 103.7435755]",1.348213,103.743576,650155,65,23,West

In [ ]:
d.isnull().sum()

place_id            0
name                0
reviews             0
main_category       0
categories          0
main_rating         0
address             0
link                0
review_photos       0
coordinates         0
latitude            0
longtitude          0
full_postal_code    0
postal_code         0
district_code       0
region              0
dtype: int64

In [ ]:
d.duplicated().sum()

0

In [ ]:
d.postal_code.unique()

array(['16', '17', '03', '24', '18', '40', '05', '19', '08', '06', '07',
       '04', '15', '23', '20', '21', '38', '09', '52', '01', '39', '30',
       '56', '11', '25', '22', '53', '60', '46', '81', '27', '33', '31',
       '12', '55', '79', '67', '48', '54', '51', '82', '68', '76', '42',
       '45', '41', '80', '57', '32', '44', '65', '64', '73', '43', '78',
       '13', '29', '14', '69', '75', '36', '10', '59', '34', '26', '28',
       '58', '47', '35', '66', '77', '37', '61', '49', '62'], dtype=object)

In [ ]:
d.district_code.unique()

array(['03', '06', '01', '10', '07', '14', '02', '09', '08', '04', '18',
       '11', '20', '05', '19', '22', '16', '17', '12', '28', '23', '27',
       '15', '25', '26', '24', '13', '21'], dtype=object)

In [ ]:
d.region.unique()

array(['South', 'City', 'Central', 'East', 'North', 'West'], dtype=object)

In [ ]:
# after main_rating filter
df = clean_restaurant_data(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3827 entries, 0 to 3827
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   place_id          3827 non-null   object
 1   name              3827 non-null   object
 2   reviews           3827 non-null   int64
 3   main_category     3827 non-null   object
 4   categories        3827 non-null   object
 5   main_rating       3827 non-null   float64
 6   address           3827 non-null   object
 7   link              3827 non-null   object
 8   review_photos     3827 non-null   object
 9   coordinates       3827 non-null   object
 10  latitude          3827 non-null   float64
 11  longtitude        3827 non-null   float64
 12  full_postal_code  3827 non-null   object
 13  postal_code       3827 non-null   object
 14  district_code     3827 non-null   object
 15  region            3827 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 508.3+ KB

In [ ]:
restaurant_df = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/restaurant_data/cleaned_all_restaurants_dataset.csv')
restaurant_df

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos,coordinates,latitude,longtitude,full_postal_code,postal_code,district_code,region
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,"['Seafood restaurant', 'Asian restaurant', 'Di...",4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,"[1.2903687, 103.8352515]",1.290369,103.835251,169663,16,3,South
1,ChIJP2EDPqAZ2jERJKipSQq7qY8,Red House Seafood Nanyang (Clarke Quay),730,Seafood,['Seafood restaurant'],4.1,"3C River Valley Road 01-02/03, The Cannery, 17...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipMe...,"[1.29102, 103.8459532]",1.291020,103.845953,179022,17,6,City
2,ChIJSW7NnhAZ2jERj8p3W_nnhGE,Red House Seafood at Esplanade,186,Seafood,"['Seafood restaurant', 'Chinese restaurant']",4.4,"8 Raffles Ave., #01-14 / 16 Esplanade, Singapo...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipOJ...,"[1.2896585, 103.8557631]",1.289659,103.855763,39802,3,1,City
3,ChIJNxLu-EAb2jER_a4Y4ahn8TU,Red Sparrow,496,Vietnamese,"['Vietnamese restaurant', 'Asian restaurant']",4.0,"11 Dempsey Rd, #01-18, 249673, Singapore 249673",https://www.google.com/maps/place/Red+Sparrow/...,['https://lh5.googleusercontent.com/p/AF1QipO8...,"[1.3040143, 103.8100743]",1.304014,103.810074,249673,24,10,Central
4,ChIJIds6rnUZ2jERPx6E0UCf6HM,Red Star Restaurant,3725,Cantonese,"['Cantonese restaurant', 'Chinese restaurant',...",3.7,"Block 54 Chin Swee Rd, #07-23, Singapore 160054",https://www.google.com/maps/place/Red+Star+Res...,['https://lh5.googleusercontent.com/p/AF1QipN-...,"[1.2874996, 103.8411942]",1.287500,103.841194,160054,16,3,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,ChIJA2UPtIwZ2jERE6WwKP0x278,Hua Ting Steamboat,70,Steamboat,"['Steamboat restaurant', 'Chinese restaurant']",4.2,"Mezzanine level #01-08, Claymore Connect, 442 ...",https://www.google.com/maps/place/Hua+Ting+Ste...,['https://lh5.googleusercontent.com/p/AF1QipM4...,"[1.307564, 103.8287922]",1.307564,103.828792,238879,23,9,Central
4506,ChIJ3XkDF-EW2jERnoxsx_i5CcY,Hualong Fishhead Steamboat,173,Steamboat,"['Steamboat restaurant', 'Asian restaurant', '...",3.8,"347 Ang Mo Kio Ave 3, #01-2142 Blk 347, Singap...",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMY...,"[1.3673578, 103.8485856]",1.367358,103.848586,560347,56,20,North
4507,ChIJLfNb-H0X2jERHknheYoXfgY,Hualong Fishhead Steamboat,45,Chinese,['Chinese restaurant'],3.8,"978 Toa Payoh N, #02-01, Singapore 319001",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipMl...,"[1.3431212, 103.8511463]",1.343121,103.851146,319001,31,12,Central
4508,ChIJ6-YzAysX2jERKmeXREbO7VM,Hualong Fishhead Steamboat,8,Chinese,['Chinese restaurant'],2.6,"Blk 631 Hougang Ave 8, #01-06, Singapore 530631",https://www.google.com/maps/place/Hualong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipOW...,"[1.3707333, 103.8813722]",1.370733,103.881372,530631,53,19,North
4509,ChIJT49EoY0R2jERS0Ll4u0WxzU,HuaLong Fishhead Steamboat,45,Steamboat,"['Steamboat restaurant', 'Cafe', 'Coffee shop']",3.7,"155 Bukit Batok Street 11, #01-324, Singapore ...",https://www.google.com/maps/place/HuaLong+Fish...,['https://lh5.googleusercontent.com/p/AF1QipPQ...,"[1.3482129, 103.7435755]",1.348213,103.743576,650155,65,23,West

In [ ]:
restaurant_df[restaurant_df['main_category']=='Açaí shop']

,place_id,name,reviews,main_category,categories,main_rating,address,link,review_photos,coordinates,latitude,longtitude,full_postal_code,postal_code,district_code,region
2063,ChIJWbs-UOwZ2jERwP0GZgSvsgk,iNCREDi BOWL - Clarke Quay,74,Açaí shop,"['Restaurant', 'Açaí shop', 'Beer garden', 'Br...",4.4,"3A River Valley Rd, Block A #01-07 Clarke Quay...",https://www.google.com/maps/place/iNCREDi+BOWL...,['https://lh5.googleusercontent.com/p/AF1QipNz...,"[1.2899644, 103.8452462]",1.289964,103.845246,179020,17,6,City

## Reviews Dataset

In [8]:
reviews_df = pd.read_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/reviews_data/all_reviews_dataset.csv', low_memory=False)
reviews_df

,place_id,name,review_id,rating,review_text,published_at,published_at_date,review_likes_count,response_from_owner_text,response_from_owner_ago,response_from_owner_date,total_number_of_reviews_by_reviewer,total_number_of_photos_by_reviewer,is_local_guide,review_translated_text,response_from_owner_translated_text
0,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUM3bE9DZ2lRRRAB,5,Delicious delicious delicious! Had the Tom yum...,2 weeks ago,2024-08-15 00:17:31.766742,0,NaN,NaN,NaN,453.0,1210.0,True,NaN,NaN
1,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSURicHQyb2Z3EAE,4,Fairly authentic Pad Thai cooked by a Thai per...,3 weeks ago,2024-08-08 00:17:31.769063,0,NaN,NaN,NaN,1381.0,8425.0,True,NaN,NaN
2,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSURieXYtTGdnRRAB,5,I had the fried kway tiao which cost $6. If ha...,3 weeks ago,2024-08-08 00:17:31.771272,0,NaN,NaN,NaN,615.0,2361.0,True,NaN,NaN
3,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChdDSUhNMG9nS0VJQ0FnSUNiOFlhSzl3RRAB,3,I got the prawn omelette rice here for $6. The...,a month ago,2024-07-29 00:17:31.773506,0,NaN,NaN,NaN,29.0,40.0,False,NaN,NaN
4,ChIJe3o1EBQZ2jERzAmaXpqhpAM,Bangkok Thai Food,ChZDSUhNMG9nS0VJQ0FnSUN6NnJhZEp3EAE,5,Really tasty Thai place in chinatown! The gree...,2 months ago,2024-06-29 00:17:31.775457,0,NaN,NaN,NaN,38.0,12.0,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4148069,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRZ0plZ2l3RRAB,4,Vegetarian eatery with good range of dishes th...,8 years ago,2016-08-30 15:41:51.335461,0,NaN,NaN,NaN,100.0,189.0,True,NaN,NaN
4148070,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSURBc2VmdGt3RRAB,4,Very nice vegetarian porridge and side dishes,8 years ago,2016-08-30 15:41:51.339127,0,NaN,NaN,NaN,344.0,1137.0,True,NaN,NaN
4148071,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChdDSUhNMG9nS0VJQ0FnSUNRLXN5MG1BRRAB,1,expensive and not nice!,8 years ago,2016-08-30 15:41:51.342079,2,NaN,NaN,NaN,14.0,NaN,False,NaN,NaN
4148072,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSURnM3FMWWN3EAE,5,Cheap and delicious,8 years ago,2016-08-30 15:41:51.345018,0,NaN,NaN,NaN,29.0,48.0,True,NaN,NaN
4148073,ChIJ5TMoXCMY2jERzpazbjQOs6M,Rice House Vegetarian,ChZDSUhNMG9nS0VJQ0FnSUNRNF9hcEJnEAE,5,Damn good,10 years ago,2014-08-30 15:41:51.347637,0,NaN,NaN,NaN,2.0,NaN,False,NaN,NaN

In [5]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148074 entries, 0 to 4148073
Data columns (total 16 columns):
 #   Column                               Dtype
---  ------                               -----
 0   place_id                             object
 1   name                                 object
 2   review_id                            object
 3   rating                               int64
 4   review_text                          object
 5   published_at                         object
 6   published_at_date                    object
 7   review_likes_count                   int64
 8   response_from_owner_text             object
 9   response_from_owner_ago              object
 10  response_from_owner_date             object
 11  total_number_of_reviews_by_reviewer  float64
 12  total_number_of_photos_by_reviewer   float64
 13  is_local_guide                       object
 14  review_translated_text               object
 15  response_from_owner_translated_text  object
dtypes: float64(2), int64(2), object(12)
memory usage: 506.4+ MB

In [ ]:
reviews_df.duplicated().sum()

74

In [ ]:
reviews_df.review_text.isnull().sum()

1478256

In [10]:
restaurant = data.copy()
review = reviews_df.copy()

In [ ]:
restaurant = reviews_df.drop(columns=['name', 'review_id'], inplace=True)

# Inner merge
merged_df = restaurants_df.merge(reviews_df, how='inner', on='place_id')

# Remove duplicates
merged_df.drop_duplicates(inplace=True)

In [7]:
merged_df = clean_data(restaurant, review)
merged_df

,place_id,name,reviews,main_category,main_rating,address,link,review_photos,cuisine,latitude,...,district_code,region,rating,review_text,published_at_date,review_likes_count,response_from_owner_text,total_number_of_reviews_by_reviewer,total_number_of_photos_by_reviewer,is_local_guide
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,...,03,South,5,Food is Wow,2024-08-28,0,,461.0,21.0,True
1,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,...,03,South,4,I always stay at the Grand Copthorne Waterfron...,2024-08-23,0,,333.0,792.0,True
2,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,...,03,South,5,My family and I had a gathering at Red House S...,2024-08-16,0,,5.0,0.0,False
3,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,...,03,South,5,Celebrated my MIL 70th birthday and pre-coordi...,2024-08-16,0,,3.0,14.0,False
4,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,1110,Seafood,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,...,03,South,5,Had a wonderful dinner here tonight. The highl...,2024-07-30,0,,714.0,2924.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737156,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,...,12,Central,1,"Almost 2 hours waiting time, order taken at 6....",2023-08-29,5,,7.0,5.0,False
737157,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,...,12,Central,5,2nd time trying the fish head steamboat. Its t...,2023-08-29,0,,12.0,3.0,True
737158,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,...,12,Central,5,The food here is most excellent and the servic...,2023-08-29,1,,8.0,2.0,False
737159,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,...,12,Central,5,reserved in advance so wait wasnt long. added ...,2023-08-29,0,,23.0,8.0,True
737160,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,490,Chinese,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,...,12,Central,5,Tucked away in this industrial estate is a coa...,2023-08-29,0,,140.0,1291.0,True

In [8]:
merged_df.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/merged_dataset.csv', index=False)

In [9]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 619630 entries, 0 to 737160
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   place_id                             619630 non-null  object
 1   name                                 619630 non-null  object
 2   reviews                              619630 non-null  int64
 3   main_category                        619630 non-null  object
 4   main_rating                          619630 non-null  float64
 5   address                              619630 non-null  object
 6   link                                 619630 non-null  object
 7   review_photos                        619630 non-null  object
 8   cuisine                              619630 non-null  object
 9   latitude                             619630 non-null  float64
 10  longtitude                           619630 non-null  float64
 11  full_postal_code                     619630 non-null  object
 12  postal_code                          619630 non-null  object
 13  district_code                        619630 non-null  object
 14  region                               619630 non-null  object
 15  rating                               619630 non-null  int64
 16  review_text                          619630 non-null  object
 17  published_at_date                    619630 non-null  object
 18  review_likes_count                   619630 non-null  int64
 19  response_from_owner_text             619630 non-null  object
 20  total_number_of_reviews_by_reviewer  619630 non-null  float64
 21  total_number_of_photos_by_reviewer   619630 non-null  float64
 22  is_local_guide                       619630 non-null  bool
dtypes: bool(1), float64(5), int64(3), object(14)
memory usage: 109.3+ MB

In [42]:
import pandas as pd
import numpy as np
import re
import ast
import geocoder
from datetime import datetime

from yumspeak_ml.params import *

def find_coordinates(link):
    # get coordinates from link url
    match = re.search('!3d(-?\d+(?:\.\d+)?)!4d(-?\d+(?:\.\d+))', link)
    coordinates = [float(match.group(1)), float(match.group(2))]
    return coordinates

def add_lat_lng(restaurants_df):
    # get coordinates, + latitude, longitude
    restaurants_df['coordinates'] = restaurants_df['link'].apply(lambda x: find_coordinates(x))
    restaurants_df['latitude'] = restaurants_df['coordinates'].apply(lambda x: x[0])
    restaurants_df['longitude'] = restaurants_df['coordinates'].apply(lambda x: x[1])
    return restaurants_df

def get_postal_code(row):
    # get postal code with with mapbox reverse geocoding
    if isinstance(row['address'], str):
        try:
            match = re.search(r'\b\d{6}\b', row['address'])
            postal_code = match.group(0)
            row['full_postal_code'] = postal_code
            row['postal_code'] = postal_code[:2]
            return row
        except:
            g =geocoder.mapbox(row['coordinates'], method='reverse', key=MAP_API)
            row['address'] = f"Singapore {g.json['postal']}"
            row['full_postal_code'] = g.json['postal']
            row['postal_code'] = g.json['postal'][:2]
            return row
    else:
        try:
            g =geocoder.mapbox(row['coordinates'], method='reverse', key=MAP_API)
            row['address'] = f"Singapore {g.json['postal']}"
            row['full_postal_code'] = g.json['postal']
            row['postal_code'] = g.json['postal'][:2]
            return row
        except:
            print(f"Error: {row['address']}")
            return row['address']


# clean and merge dataset after scraping
def clean_data(restaurants_df:pd.DataFrame, reviews_df:pd.DataFrame) -> pd.DataFrame:
    # restaurant df
    # drop irrelevant columns, rows with null values, restaurants_df duplicates with subset 'place_id', 'name', 'reviews', 'address']
    restaurants_df = restaurants_df.drop(columns=['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])
    restaurants_df = restaurants_df.drop_duplicates(subset=['place_id', 'name', 'address'], keep='last')
    restaurants_df = restaurants_df.dropna()

    # remove irrelevant place based by name and place_id
    restaurants_df = restaurants_df[~restaurants_df['name'].isin(NAMES_TO_DROP)]
    restaurants_df = restaurants_df[~restaurants_df['place_id'].isin(PLACE_ID_TO_DROP)]

    # filter out main_rating < 3.7 review counts >=75 <=2000
    restaurants_df = restaurants_df[(restaurants_df['main_rating'] >= 3.7) & (restaurants_df['reviews'] >= 75) & (restaurants_df['reviews'] <= 2000)]

    # main_category 'Restaurant', retrieve category from categories if there are more than 1 category.
    restaurants_df['categories'] = restaurants_df['categories'].apply(lambda x: ast.literal_eval(x))
    sec_cat_mask = (restaurants_df['main_category'] == 'Restaurant') & (restaurants_df['categories'].apply(lambda x: x != ['Restaurant']))
    restaurants_df.loc[sec_cat_mask, 'main_category'] = restaurants_df['categories'].apply(lambda x: x[1] if len(x) > 1 else x[0])

    # recategorize remaining restaurants
    restaurant_cat_mask = restaurants_df['main_category'] == 'Restaurant'
    restaurants_df.loc[restaurant_cat_mask, 'main_category'] = restaurants_df['name'].apply(lambda x: RESTAURANT_RECATEGORIZATION.get(x, 'Restaurant'))

    # remove irrelevant place based on main_categories
    cats_to_remove = [cat.lower() for cat in CATS_TO_REMOVE]
    mask = restaurants_df['main_category'].str.lower().isin(cats_to_remove)
    restaurants_df = restaurants_df[~mask]

    # remove ' restaurant' from the data
    restaurants_df['main_category'] = restaurants_df['main_category'].apply(lambda x: x.replace(' restaurant', ''))

    # map main_category to cuisine, reducing unique values
    restaurants_df['cuisine'] = restaurants_df['main_category'].apply(lambda x: CATEGORY_TO_CUISINE[x])

    # get lat lng from link (+coordinates, latitude, longitude)
    restaurants_df = add_lat_lng(restaurants_df)

    # filter out places with coordinates outside of SG
    restaurants_df = restaurants_df[restaurants_df['latitude'].between(left=1.129, right=1.493)]
    restaurants_df = restaurants_df[restaurants_df['longitude'].between(left=103.557, right=104.131)]
    restaurants_df = restaurants_df.reset_index(drop=True)

    # get postal code with with mapbox reverse geocoding, extract district_code and region
    restaurants_df = restaurants_df.apply(get_postal_code, axis=1)
    restaurants_df['district_code'] = restaurants_df['postal_code'].map(POSTAL_TO_DISTRICT)
    restaurants_df['region'] = restaurants_df['district_code'].map(DISTRICT_TO_REGION)
    restaurants_df = restaurants_df[~(restaurants_df['full_postal_code'].str.len() < 6)]

    # drop all places not in SG
    restaurants_df = restaurants_df.dropna()

    # drop the coordinates column
    restaurants_df = restaurants_df.drop(columns=['coordinates', 'categories'])

    # reviews_df df
    # Drop duplicates
    reviews_df = reviews_df.drop_duplicates()

    # Drop unnecessary columns
    reviews_df = reviews_df.drop(columns=['review_translated_text', 'response_from_owner_translated_text', 'response_from_owner_ago', 'response_from_owner_date', 'published_at'])

    # Drop rows where review_text and published_at is null
    reviews_df = reviews_df.dropna(subset=['review_text', 'published_at_date'])

    # Change remaining NaN to False, empty string or zero
    reviews_df['is_local_guide'] = reviews_df['is_local_guide'].fillna(False)
    reviews_df[['total_number_of_photos_by_reviewer', 'total_number_of_reviews_by_reviewer']] = reviews_df[['total_number_of_photos_by_reviewer', 'total_number_of_reviews_by_reviewer']].fillna(0)
    reviews_df['response_from_owner_text'] = reviews_df['response_from_owner_text'].fillna("")

    # Establish the consideration set - only keep reviews_df with published_at date from 1 Jan 2023
    # Convert the 'published_at_date' column to datetime and simplify to just date
    reviews_df['published_at_date'] = pd.to_datetime(reviews_df['published_at_date'])
    reviews_df['published_at_date'] = reviews_df['published_at_date'].dt.date
    cut_off_date = datetime.strptime("2023-01-01", '%Y-%m-%d').date()
    reviews_df = reviews_df[reviews_df['published_at_date'] >= cut_off_date]

    # Drop unnecessary columns
    reviews_df = reviews_df.drop(columns=['name', 'review_id'])

    # Inner merge
    merged_df = restaurants_df.merge(reviews_df, how='inner', on='place_id')

    # Remove duplicates
    merged_df = merged_df.drop_duplicates()

    # drop unnecessary columns
    merged_df = merged_df.drop(columns=['reviews', 'main_category', 'full_postal_code', 'postal_code', 'district_code', 'region', 'rating', 'published_at_date', 'review_likes_count', 'response_from_owner_text', 'total_number_of_reviews_by_reviewer', 'total_number_of_photos_by_reviewer', 'is_local_guide'])

    return merged_df

In [43]:
final_df = clean_data(restaurant, review)
final_df

,place_id,name,main_rating,address,link,review_photos,cuisine,latitude,longitude,review_text
0,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,Food is Wow
1,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,I always stay at the Grand Copthorne Waterfron...
2,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,My family and I had a gathering at Red House S...
3,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,Celebrated my MIL 70th birthday and pre-coordi...
4,ChIJYR6HCJ4Z2jERChIQxjl2MhI,Red House Seafood Grand Copthorne,4.2,"392 Havelock Rd, Level 2 Grand Copthorne Water...",https://www.google.com/maps/place/Red+House+Se...,['https://lh5.googleusercontent.com/p/AF1QipNp...,Seafood,1.290369,103.835251,Had a wonderful dinner here tonight. The highl...
...,...,...,...,...,...,...,...,...,...,...
735986,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,"Almost 2 hours waiting time, order taken at 6...."
735987,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,2nd time trying the fish head steamboat. Its t...
735988,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,The food here is most excellent and the servic...
735989,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,reserved in advance so wait wasnt long. added ...
735990,ChIJ0T6YJPkZ2jER4SLNFf4Zthg,炭香 Charcoal Fish Head Steamboat Kallang,4.1,"5 Kallang Pl, Singapore 339152",https://www.google.com/maps/place/%E7%82%AD%E9...,['https://lh5.googleusercontent.com/p/AF1QipM_...,Chinese,1.317298,103.867597,Tucked away in this industrial estate is a coa...

In [44]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618460 entries, 0 to 735990
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place_id       618460 non-null  object
 1   name           618460 non-null  object
 2   main_rating    618460 non-null  float64
 3   address        618460 non-null  object
 4   link           618460 non-null  object
 5   review_photos  618460 non-null  object
 6   cuisine        618460 non-null  object
 7   latitude       618460 non-null  float64
 8   longitude      618460 non-null  float64
 9   review_text    618460 non-null  object
dtypes: float64(3), object(7)
memory usage: 51.9+ MB

In [46]:
final_df.to_csv('/Users/triciascy/code/scytricia/yumspeak/raw_data/review_scraper_data/final_df.csv', index=False)

## Placing dataset in GCP

In [47]:
from google.cloud import bigquery
from colorama import Fore, Style
from pathlib import Path

In [48]:
dataset_id = 'lewagon-ds-ai.yumspeak'
table_id = f'{dataset_id}.final_dataset'

client = bigquery.Client()
job = client.load_table_from_dataframe(final_df, table_id)
job.result()
print(f'{job.output_rows}')

618460